.slider-slide h3{
  color:#fff;
  margin-top:10px;
}
.scroll{
  height:100%;
}
.tabbed-slidebox .tsb-icons:after{
  display:none;
}
.tabbed-slidebox .slider {
  height: 100%;
}
.tabbed-slidebox.btm .slider {
  margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
  width: 100%;
}
.tabbed-slidebox .slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #e8e8e8;
  text-align: center;
  font-weight: 300;
  /*background-color: #ef4e3a;*/
}
.tabbed-slidebox .tsb-icons {
  text-align: center;
  /*margin: 10px 0;*/
  position: relative;
  background-color:#fff;
}
.tabbed-slidebox .tsb-ic-wrp {
  display: flex;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
  -webkit-transform:translate3d(0,0,0);
}
.tabbed-slidebox .tsb-icons a {
  display: inline-block;
  width: 54px;
  font-size: 2.5em;
  color: #717579;
  -webkit-transform:translate3d(0,8px,0);
}
.tabbed-slidebox .tsb-icons a.active {
  color: #fff;
  font-size: 3.5em;
  -webkit-transform:translate3d(0,0,0);
}
.tabbed-slidebox .tabbed-slidebox {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.tsb-hscroll.scroll-view{
  white-space: nowrap;
  margin:0 auto;
  background: #2b3036;
  height: 50px;
}
.tsb-hscroll.scroll-view .scroll-bar{
  visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}
.tabbed-slidebox .tsb-icons .scroll a{
  font-size: 100%;
  width:auto;
  min-width: 90px;
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 15px;
  border-bottom: 3px solid transparent;
}
/* under line*/
.tabbed-slidebox .tsb-icons .scroll a.active {
  /*font-size: 1.8em;*/
  line-height: 48px !important;
  font-size: 100%;
  border-bottom: 3px solid #fff;
}
