<img class="sqare" ng-src="{{item.thumb}}">
<h2 class="cart-item-title" ng-bind-html="item.name"></h2>
<p ng-bind-html="item.model"></p>
<!--<p ng-bind-html="item.description"></p>-->
<span class="history-price" ng-bind-html="item.total"></span>
<div class="row qty-spinner">
  <input type='button' value='-' class='qtyminus' ng-click="updateCart(item,'minus')" style="margin-top:-2px" />
  <input type='number' name='quantity' ng-model="item.quantity" class='qty' />
  <input type='button' value='+' class='qtyplus' ng-click="updateCart(item,'plus')" style="margin-top:-3px" />
</div>
<!--<a class="item-close-btn ion-close-round"></a>-->
<!-- <div class="chip capital">{{"SIZE" | translate}} : 8</div> -->
<div class="chip align-center">x {{item.quantity}}</div>