
.cart-icon-wrapper{
  right: 10px;
  top:14px;
}
.back-icon-wrapper{
  padding-left: 3px;
  top:12px;
}
.toggle-side-wrapper{
  padding-left: 3px;
  top:12px;
}
.filter-icon-wrapper{
  right: 55px;
  top:8px;
}
.search-box-wrapper{
  position: absolute;
  width: 100%;
  padding-right: 42px
}
.bar.bar-darker {
  border-color: #007fa3;
  /*border-color: #111;*/
  background-color: #007fa3;
  /*background-color: #2b3036;*/
  background-image: linear-gradient(0deg, #007fa3, #007fa3 50%, transparent 50%);
  /*background-image: linear-gradient(0deg, #2b3036, #2b3036 50%, transparent 50%);*/
  color: #fff;
}
.tabs-darker{
  background-color: #007fa3 !important;
  /*background-color: #2b3036 !important;*/
  background-image: none;
}
.tabs-darker > .tabs {
  background-color:#007fa3 !important;
  /*background-color: #2b3036 !important;*/
  background-image: none;
  color: white;
}

#shop{
  background-repeat: repeat-x;
  /*height:121px;*/
  width: 100%;
  /*margin-left: 20px;*/
  /*margin-top: 13px;*/
}
#shop .content{
  width: 100%; /*328 co je 1/3 - 20margin left*/
  /*height: 121px;*/
  line-height: 20px;
  margin-top: 0px;
  /*margin-left: 9px;*/
  margin-right:0px;
  display:inline-block;
  position:relative;
}
#shop .content div {
  position:absolute;
  top:15px;
  right: 10px;
  color:#FFF;
}
/*#shop .content a {*/
  /*position:absolute;*/
  /*bottom:50px;*/
  /*right: 15%;*/
  /*color:#FFF;*/
/*}*/
/*#shop .content h2 {*/
  /*position:absolute;*/
  /*bottom:150px;*/
  /*right: 5%;*/
  /*color:#FFF;*/
/*}*/
/*image cards*/
.card-title-shadow
{
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
.text-on-image
{
  position: absolute;
  z-index: 10;
  bottom: 0px;
  padding: 15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-on-image h2
{
  color: #fff;
  font-size: 18px !important;
}
.text-on-image h3
{
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}
.text-on-image h4
{
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}
.white-tabs
{
/*background: #fff !important;*/
/*border-top: 1px solid #ddd !important;*/
}
.white-tabs > h2{
  font-size: 18px;
  font-weight: 600;
}
.white-tabs > h3{
  margin-top: 5px;
  font-size: 15px;
  color: #acabb9;
}
.white-tabs > strike > h3{
  margin-top: 5px;
  font-size: 15px;
  color: #acabb9;
}
.white-tabs > .old-price{
  color: #acabb9;
}
.white-tabs > .new-price{
  color: #8e1318;
  font-size: 25px;
}
.white-tabs-text
{
color: #444 !important;
}

.white-tabs-text:active, .white-tabs-text:hover, .white-tabs-text:focus
{
color: #111 !important;
}
.text-ellipse {
height: 50px;
overflow: hidden;
text-overflow: ellipsis;
}
.fab {
border:none;
font-size:15px;
color:white;
background-color: #f68469;
width: 60px;
height: 35px;
margin: auto;
-webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
-moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
background-color: #f68469;
}

.fab:active {
background-color: #f68469;
}

.fab-zone {
  position: absolute;
  z-index: 50;
  left: -10px;
  top: 40px;
}
.item-card{
  margin-top: 10px;
  margin-bottom: 0px !important;
  border-radius: 10px;
}
.wish-list-card{
  overflow: visible;
  margin-bottom: 0px !important;
  border-radius: 10px;
}
.wish-list-card > .item-image{
  height: 175px;
  border-radius: 8px 8px 0 0 !important;
}
.wish-list-card > .tabs-secondary{
  padding: 10px !important;
  border-radius: 0 0 8px 8px !important;
}

.item-slide > .item-slide > .slider-pager {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: left;
  left: 20px;
}
.item-title{
  font-size: 18px !important;
  font-weight: 600 !important;
}
.cart-item-title{
  font-size: 14px !important;
  font-weight: 600 !important;
}

.item-details-collapse{
  height: 60px;
  margin: 10px 15px 0 15px;
  border-radius: 5px;
  background-color: white !important;
  border-color: white !important;
}
.item-details-collapse > div > i {
  font-size: 20px;
  color:#a6a5ab;
}
.item-details-collapse > div > span {
  font-size: 18px;
  font-weight: 600;
}
.list .item.item-accordion {
  line-height: 38px;
  margin: 0 15px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.search-box{
  height: 35px;
  margin-top: 7px;
  margin-left: 48px;
  margin-right: 20px;
  border-radius: 5px;
}

.search-box > input{
  margin-bottom:3px;
  padding-left:0px !important;
  text-align: center;
}

.sidebar-toggle{
  position: absolute;
  top:8px;
}
.md-sidenav-left{
  padding-top: 56px;
  min-width: 0px;
  width: 200px !important;
  background: #007fa3;
  /* opacity: 0.8; */
  /* -webkit-filter:blur(3px) */
  background: linear-gradient(to right,  #007fa3 0%, #0094ba 100%);
}
.sidenav-options{
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
  color: white;
}
.sidenav-icon{
  font-size: 20px;
  color: white;
}

.overflow-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /*top: 0;*/
  right: 0;
  /*bottom: 0;*/
  left: 0;
  position: absolute;
  /*margin-bottom: 10px;*/
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: rgb(63,81,181);
  color: rgba(86, 86, 86, 0.87);
}
.category-select{
  margin: 5px 0 10px !important;
  width: 100%;
  background: white;
  height: 50px;
  padding-left: 25px;
}
.category-chip{
  background: #403e3e;
  color: white;
  min-height: 0;
  height: 35px;
  line-height: 20px;
  font-size: 15px;
  margin: 5px;
  /* width: auto; */
  display: inline-block;
  padding: 7px;
}
.profile-field-lable{
  font-weight: 400;
  font-size: 17px;
  color: #373d3d;
}
.profile-field-value{
  padding-left: 15px;
  font-size: 20px;
  font-weight: 100;
}
.profile-input > .md-errors-spacer {
  min-height:0;
  height:0;
}
.md-input-has-value > label{
  display: none;
}
.item-options-bottom-sheet{
  height: calc(101% + 70px);
}
.bottom-sheet-close{
  left: -17px;
  top: -17px;
}
.accordian-text  {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  border: 1px solid #ddd;
  margin: 0;
}
.product-details-topic{
  margin: 5px 15px 0 15px;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #a7a6ac;
  width: auto;
}
.product-details-topic > h3 {
  font-size: 15px;
  margin:10px 0 0 0
}
.product-details-topic > h3 > img {
  width:30px;
  vertical-align: middle;
  margin-right: 12px;
}
.star{
  color: #f3d97e;
}
.discount-chip{
  background: #960b0e !important;
  color: white !important;
  font-size: medium !important;
  font-weight: 500 !important;
  width: fit-content !important;
}
.discount-review{
  left: 0px;
  position: absolute;
  z-index: 20;
  padding: 20px 0 0 0;
  margin-left: -4px
}
.option-select{
  margin: 0px 0 0px !important;
  width: 100%;
  background: #e8e8e8;
  height: 40px;
  padding-left: 25px;
}
.option-select-row{
  width: 95%;
  margin: 0 auto 20px auto;
}
.visit-store-btn{
  width: 85%;
  margin: 15px 0;
  color: black !important;
  border-color: #48aab7 !important;
  border-width: 2px;
}
.visit-store-btn.activated{
  background-color: #48aab7 !important;

}

.ionic_ratings .read_only {
   pointer-events:none !important;
 }

 .ionic_ratings .icon {
    font-size: 15px;
  }

.rating-main .icon {
  font-size: 25px;
}

.col-border {
  background: gray;
  height: 0.5px
}

.seperator {
  border-bottom: #F0F0F0 15px solid;
}

.seperator-2 {
  border-bottom: #F0F0F0 10px solid;
}


.item-cell {
  /* box-shadow: 0 0 1px rgba(0,0,0,0.2), 0 0px 1px rgba(0,0,0,0.24); */
  border: solid;
  border-color: rgba(0,0,0,0.16);
  border-width: 1px;
}

.item-cell > img {
  /* border:1px solid rgba(220,220,220, 0.5); */

}

.item-cell  h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #505050;
}

.g-card {
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.g-card-1 {
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.g-card-1 > .row > .content{
  padding: 10px 10px 10px 10px;
  width: 100%
}

.g-card-1 > .row > .content > .content-group{
  padding: 8px 0 0 0;
  width: 100%
}

.g-card-1 > .row > .content .topic{
  font-size: 18px;
  font-weight: 0;
}

.g-card-1 > .row > .content .title{
  font-size: 15px;
  font-weight: 500;
}

.g-card-1 > .row > .content .item-price{
  font-size: 18px;
  font-weight: 600;
}

.g-card-1 > .row > .content .strike-through{
  font-size: 15px;
  color: #acabb9;
}

.g-card-2 {
  background: white;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 0px 2px rgba(0,0,0,0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.g-card-2 > .row > .content{
  padding: 10px 10px 10px 10px;
  width: 100%
}

.g-card-2 > .row > .content-title{
  padding: 10px 10px 0 10px;
  width: 100%
}

.g-card-2 > .row > .content-scroll{
  width: 100%
}

.g-card-2 > .row > .content > .content-group{
  padding: 8px 0 0 0;
  width: 100%
}

.g-card-2 > .row > .content .topic{
  font-size: 18px;
  font-weight: 0;
}

.g-card-2 > .row > .content .title{
  font-size: 15px;
  font-weight: 500;
}

.g-card-2 > .row > .content .item-price{
  font-size: 18px;
  font-weight: 600;
}

.g-card-2 > .row > .content .strike-through{
  font-size: 15px;
  color: #acabb9;
}

.scroll-content {
    background-color: white;
}

.g-card-banner-1 {

  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 4px;
  background: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/* Home - Main banner */
.sixteen-nine {
  position: relative;
}
.sixteen-nine:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 41.7%;
}

/* Store celll */
/* Home - Main banner */
.store-cell {
  position: relative;
}
.store-cell:before {
  display: block;
  width: 100%;
  padding-top: 39.2%;
}

.sixteen-nine > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 5px
}

.item-list-content {
  width:100%;
  height:100%;
  /* padding: 10px 10px 10px 10px; */
  top:55px;
}

.home-content {
  /* width:100%;
  height:100%;
  padding: 20px 20px 20px 20px; */
}

.home-content > .main-banner {
  width:100%;
  height:300;
}

.home-content > .new-arrivals {
  width:100%;
  height:60;
}

.home-content .title-text{
  font-size: 15px;
  font-weight: bolder;
  margin: 0 0px 10px 0
}

.scroll-bar-indicator
{
	display: none;
}

.loading-container {
    position: absolute;
    left: 0;
    top: 55px;
    right: 0;
    bottom: 0;
    z-index: 13;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    visibility: hidden;
    opacity: 0;
    background: white;
}

.loading-container .loading{
  padding: 20px;
  border-radius: 5px;
  background-color: white; !important
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 15px;
}

.backdrop-loading{
    margin-top: 50px; /*loading should stay under the header*/
    background: white;
}

.spinner svg {
  height: 45px;
  width: 45px; !important
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.1s opacity linear;
    transition: 0.1s opacity linear;
}

.md-divider {
  display: block;
  border-top-width: 0px; !important
}

.item-slide .slider-slides {
  /* width: 100% !important;
  position: relative;
  height: 100%; */
  background: white;
}

.toolbar-title {
   text-overflow: inherit;
   white-space: normal;
}
