.cart-icon-wrapper {
  right: 15px;
  top: 8px;
}
.back-icon-wrapper {
  top: 8px;
}
.toggle-side-wrapper {
  left: 5px;
  top: 8px;
}
.filter-icon-wrapper {
  right: 55px;
  top: 8px;
}
.top {
  background-color: #0790cf !important;
}
.search-box-wrapper {
  position: absolute;
  left: 5px;
  width: 100%;
  padding-right: 80px;
  padding-left: 5px;
}
.bar.bar-darker {
  border-color: #458ccc;
  /*border-color: #111;*/
  background-color: #458ccc;
  /*background-color: #2b3036;*/
  background-image: linear-gradient(
    0deg,
    #458ccc,
    #458ccc 50%,
    transparent 50%
  );
  /*background-image: linear-gradient(0deg, #2b3036, #2b3036 50%, transparent 50%);*/
  color: #fff;
}
.tabs-darker {
  background-color: #458ccc !important;
  /*background-color: #2b3036 !important;*/
  background-image: none;
}
.tabs-darker > .tabs {
  background-color: #458ccc !important;
  /*background-color: #2b3036 !important;*/
  background-image: none;
  color: white;
}

#shop {
  background-repeat: repeat-x;
  /*height:121px;*/
  width: 100%;
  /*margin-left: 20px;*/
  /*margin-top: 13px;*/
}
#shop .content {
  width: 100%; /*328 co je 1/3 - 20margin left*/
  /*height: 121px;*/
  line-height: 20px;
  margin-top: 0px;
  /*margin-left: 9px;*/
  margin-right: 0px;
  display: inline-block;
  position: relative;
}
#shop .content div {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #fff;
}
/*#shop .content a {*/
/*position:absolute;*/
/*bottom:50px;*/
/*right: 15%;*/
/*color:#FFF;*/
/*}*/
/*#shop .content h2 {*/
/*position:absolute;*/
/*bottom:150px;*/
/*right: 5%;*/
/*color:#FFF;*/
/*}*/
/*image cards*/

.card-name {
  width: 100%;
}
.card-title-shadow {
  width: 100%;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0)),
    color-stop(100%, rgba(0, 0, 0, 0.8))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.bar-column {
  float: left;
  width: 50%;
  height: 100%;
  padding: 0px;
}

.column {
  float: left;
  width: 50%;
  padding: 0px;
  position: relative;
}
.column .overlay {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-weight: bold;
  color: #fff;
}
.view-categories {
  width: 60%;
  height: auto;
  margin: 0 auto;

  cursor: pointer;
  opacity: 1;

  padding: 10px 20px;
  overflow: visible;
  border: 1px solid rgba(33, 38, 40, 0.9);
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal 16px / normal "Times New Roman", Times, serif;
  color: rgba(12, 3, 3, 0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 0 0 0 rgba(15, 73, 168, 0.66);
}
.text-on-image {
  position: absolute;

  bottom: 100px;

  text-align: center;

  text-overflow: ellipsis;
}

.text-on-grid {
  position: absolute;

  bottom: 5px;

  text-align: right;

  text-overflow: ellipsis;
}

.text-on-image-2 {
  position: absolute;

  bottom: 80px;

  text-align: center;

  text-overflow: ellipsis;
}
.text-on-image-2 h4 {
  color: #fff;
  font-size: 12px !important;
}
.text-on-image h2 {
  color: #fff;
  font-size: 18px !important;
}
.text-on-image h3 {
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}
.text-on-image h4 {
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}
.white-tabs {
  /*background: #fff !important;*/
  /*border-top: 1px solid #ddd !important;*/
}
.white-tabs > h2 {
  font-size: 18px;
  font-weight: 600;
}
.white-tabs > h3 {
  margin-top: 5px;
  font-size: 15px;
  color: #acabb9;
}
.white-tabs > strike > h3 {
  margin-top: 5px;
  font-size: 15px;
  color: #acabb9;
}
.white-tabs > .old-price {
  color: #acabb9;
}
.white-tabs > .new-price {
  color: #8e1318;
  font-size: 25px;
}
.white-tabs-text {
  color: #444 !important;
}

.white-tabs-text:active,
.white-tabs-text:hover,
.white-tabs-text:focus {
  color: #111 !important;
}
.text-ellipse {
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fab {
  border: none;
  font-size: 15px;
  color: white;
  background-color: #f68469;
  width: 60px;
  height: 35px;
  margin: auto;
  -webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
  -moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
  box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, 0.3);
}

.fab:hover {
  background-color: #f68469;
}

.fab:active {
  background-color: #f68469;
}

.fab-zone {
  position: absolute;
  z-index: 50;
  left: -10px;
  top: 40px;
}
.item-card {
  margin-top: 10px;
  margin-bottom: 0px !important;
  border-radius: 10px;
}
.wish-list-card {
  overflow: visible;
  margin-bottom: 0px !important;
  border-radius: 10px;
}
.wish-list-card > .item-image {
  height: 175px;
  border-radius: 8px 8px 0 0 !important;
}
.wish-list-card > .tabs-secondary {
  padding: 10px !important;
  border-radius: 0 0 8px 8px !important;
}

.item-slide > .item-slide > .slider-pager {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: left;
  left: 20px;
}
.item-title {
  font-size: 18px !important;
  font-weight: 600 !important;
}
.cart-item-title {
  font-size: 14px !important;
  font-weight: 600 !important;
}

.item-details-collapse {
  height: 60px;
  margin: 10px 15px 0 15px;
  border-radius: 5px;
  background-color: white !important;
  border-color: white !important;
}
.item-details-collapse > div > i {
  font-size: 20px;
  color: #a6a5ab;
}
.item-details-collapse > div > span {
  font-size: 18px;
  font-weight: 600;
}
.list .item.item-accordion {
  line-height: 38px;
  margin: 0 15px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.search-box {
  height: 43px;
  margin-top: 3px;
  margin-left: 50px;
  margin-right: 20px;
}
.sidebar-toggle {
  position: absolute;
  top: 8px;
}
.md-sidenav-left {
  margin-top: 56px;
  min-width: 0px;
  width: 250px !important;
}
.sidenav-options {
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
}
.sidenav-icon {
  font-size: 20px;
  color: #a6a5ab;
}
.slider-slides {
  /*width: auto !important;*/
}
.overflow-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /*top: 0;*/
  right: 0;
  /*bottom: 0;*/
  left: 0;
  position: absolute;
  /*margin-bottom: 10px;*/
}

md-select.md-default-theme:not([disabled]):focus .md-select-value,
md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: rgb(63, 81, 181);
  color: rgba(86, 86, 86, 0.87);
}
.category-select {
  margin: 5px 0 10px !important;
  width: 100%;
  background: white;
  height: 50px;
  padding-left: 25px;
}
.category-chip {
  background: #403e3e;
  color: white;
  min-height: 0;
  height: 35px;
  line-height: 20px;
  font-size: 15px;
  margin: 5px;
  /* width: auto; */
  display: inline-block;
  padding: 7px;
}
.profile-field-lable {
  font-weight: 400;
  font-size: 17px;
  color: #373d3d;
}
.profile-field-value {
  font-size: 20px;
  font-weight: 100;
}
.profile-input > .md-errors-spacer {
  min-height: 0;
  height: 0;
}
.md-input-has-value > label {
  display: none;
}
.item-options-bottom-sheet {
  height: calc(101% + 70px);
}
.bottom-sheet-close {
  left: -17px;
  top: -17px;
}
.accordian-text {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  border: 1px solid #ddd;
  margin: 0;
}
.product-details-topic {
  margin: 5px 15px 0 15px;
  border-top: solid;
  border-top-width: 1px;
  border-top-color: #a7a6ac;
  width: auto;
}
.product-details-topic > h3 {
  font-size: 15px;
  margin: 10px 0 0 0;
}
.product-details-topic > h3 > img {
  width: 30px;
  vertical-align: middle;
  margin-right: 12px;
}
.star {
  color: #f3d97e;
}
.discount-chip {
  background: #960b0e !important;
  color: white !important;
  font-size: medium !important;
  font-weight: 500 !important;
  width: fit-content !important;
}
.discount-review {
  display: inline-block;
  width: fit-content;
  /* position: absolute; */
  right: 8px;
  bottom: 115px;
  margin-right: 15px;
  margin-top: 20px;
}
.option-select {
  margin: 0px 0 0px !important;
  width: 100%;
  background: #e8e8e8;
  height: 40px;
  padding-left: 25px;
}
.option-select-row {
  width: 95%;
  margin: 0 auto 20px auto;
  border-top: #d4d4d4 1px solid;
  border-bottom: #d4d4d4 1px solid;
}
.visit-store-btn {
  width: 85%;
  margin: 15px 0;
  color: black !important;
  border-color: #48aab7 !important;
  border-width: 2px;
}
.visit-store-btn.activated {
  background-color: #48aab7 !important;
}
/* rajitha */
.profilebg {
  background-image: url("../img/signupbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
