
.cart-icon-wrapper{
  right: 15px;
  top:8px;
}
.back-icon-wrapper{
  left: 15px;
  top:8px;
}
.toggle-side-wrapper{
  left: 5px;
  top:8px;
}
.filter-icon-wrapper{
  right: 55px;
  top:8px;
}
.search-box-wrapper{
  position: absolute;
  left: 5px;
  width: 100%;
  padding-right: 80px;
  padding-left: 5px;
}
.bar.bar-darker {
  border-color: #111;
  background-color: #2b3036;
  background-image: linear-gradient(0deg, #2b3036, #2b3036 50%, transparent 50%);
  color: #fff;
}
.tabs-darker{
  background-color: #2b3036 !important;
  background-image: none;
}
.tabs-darker > .tabs {
  background-color: #2b3036 !important;
  background-image: none;
  color: white;
}

#shop{
  background-repeat: repeat-x;
  /*height:121px;*/
  width: 100%;
  /*margin-left: 20px;*/
  /*margin-top: 13px;*/
}
#shop .content{
  width: 100%; /*328 co je 1/3 - 20margin left*/
  /*height: 121px;*/
  line-height: 20px;
  margin-top: 0px;
  /*margin-left: 9px;*/
  margin-right:0px;
  display:inline-block;
  position:relative;
}
#shop .content div {
  position:absolute;
  bottom:50px;
  right: 10px;
  color:#FFF;
}
/*#shop .content a {*/
  /*position:absolute;*/
  /*bottom:50px;*/
  /*right: 15%;*/
  /*color:#FFF;*/
/*}*/
/*#shop .content h2 {*/
  /*position:absolute;*/
  /*bottom:150px;*/
  /*right: 5%;*/
  /*color:#FFF;*/
/*}*/
/*image cards*/
.card-title-shadow
{
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); /* IE6-9 */
}
.text-on-image
{
  position: absolute;
  z-index: 10;
  bottom: 0px;
  padding: 15px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-on-image h2
{
  color: #fff;
  font-size: 18px !important;
}
.text-on-image h3
{
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}
.text-on-image h4
{
  color: #fff;
  padding-left: 3px;
  font-weight: 300;
}
.white-tabs
{
background: #fff !important;
border-top: 1px solid #ddd !important;
}
.white-tabs > h2{
  font-size: 18px;
  font-weight: 600;
}
.white-tabs > h3{
  margin-top: 5px;
  font-size: 15px;
  color: #acabb9;
}
.white-tabs-text
{
color: #444 !important;
}

.white-tabs-text:active, .white-tabs-text:hover, .white-tabs-text:focus
{
color: #111 !important;
}
.text-ellipse {
height: 50px;
overflow: hidden;
text-overflow: ellipsis;
}
.fab {
border:none;
font-size:15px;
color:white;
background-color: #f68469;
width: 60px;
height: 35px;
margin: auto;
-webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
-moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);
}

.fab:hover {
background-color: #f68469;
}

.fab:active {
background-color: #f68469;
}

.fab-zone {
  position: absolute;
  z-index: 50;
  left: -10px;
  top: 40px;
}
.item-card{
  margin-top: 10px;
  margin-bottom: 0px !important;
  border-radius: 10px;
}
.wish-list-card{
  overflow: visible;
  margin-bottom: 0px !important;
  border-radius: 10px;
}
.wish-list-card > .item-image{
  height: 175px;
  border-radius: 8px 8px 0 0 !important;
}
.wish-list-card > .tabs-secondary{
  padding: 10px !important;
  border-radius: 0 0 8px 8px !important;
}

.item-slide > .item-slide > .slider-pager {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  height: 15px;
  text-align: left;
  left: 20px;
}
.item-title{
  font-size: 18px !important;
  font-weight: 600 !important;
}
.cart-item-title{
  font-size: 14px !important;
  font-weight: 600 !important;
}

.item-details-collapse{
  height: 60px;
  margin: 10px 15px 0 15px;
  border-radius: 5px;
  background-color: white !important;
  border-color: white !important;
}
.item-details-collapse > div > i {
  font-size: 20px;
  color:#a6a5ab;
}
.item-details-collapse > div > span {
  font-size: 18px;
  font-weight: 600;
}
.list .item.item-accordion {
  line-height: 38px;
  margin: 0 15px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.search-box{
  height:45px;
  margin-left: 40px;
}
.sidebar-toggle{
  position: absolute;
  top:8px;
}
.md-sidenav-left{
  margin-top: 97px;
  min-width: 0px;
  width: 250px !important;
}
.sidenav-options{
  margin-left: 15px;
  font-size: 15px;
  font-weight: 500;
}
.sidenav-icon{
  font-size: 20px;
  color: #a6a5ab;
}
.slider-slides {
  /*width: auto !important;*/
}
.overflow-scroll {
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  /*top: 0;*/
  right: 0;
  /*bottom: 0;*/
  left: 0;
  position: absolute;
  /*margin-bottom: 10px;*/
}

md-select.md-default-theme:not([disabled]):focus .md-select-value, md-select:not([disabled]):focus .md-select-value {
  border-bottom-color: rgb(63,81,181);
  color: rgba(255, 255, 255, 0.87);
}
