<ion-header-bar class="bar bar-header header-md bar-darker">
    <div style="width: 100%; display: inherit; margin-top: 0px !important;">
      <div class="absolute back-icon-wrapper">
        <a class="button button-icon row" ng-href="#/categories">
          <i class="ion-android-arrow-back font-L white"></i>
        </a>
      </div>
      <h4 class="white left-title">{{'SETTINGS' | translate}}</h4>
      <div class="absolute cart-icon-wrapper">
      </div>
    </div>
  </ion-header-bar>
  
  <ion-content class="has-her item-list-content" overflow-scroll="true">
    <ion-list>
      <ion-item detail-push class="item-remove-animate" ng-click="goToLanguages()">
          <div ng-click="lgoToLanguages()">{{'LANGUAGE' | translate}}</div>
      </ion-item>
    </ion-list>
  </ion-content>