<ion-view>
  <ion-content class="padding auth-background" >
    <div class="full-width" style="margin-top: 55%;">
      <p class="align-center light">{{"PLEASE_SELECT_ACCOUNT_ROLE" | translate}}</p>
      <!--<a class="button custom-height-button button-sm square button-block button-positive icon ion-social-facebook" ng-click="facebookSignIn()"></a>-->
      <div>
        <button class="button custom-height-button button-lg square button-block white" ng-click="signUpPage(appConfig.accountTypes.BUYER)" style="background:  #007fa3;">
          {{"I_AM_BUYER" | translate}}
        </button>
      </div>
      <div>
        <button class="button custom-height-button button-lg square button-block button-light" ng-click="signUpPage(appConfig.accountTypes.SELLER)">
          {{"I_AM_SELLER" | translate}}
        </button>
      </div>
      <p class="align-center light">
        <span>{{"ALREADY_REGISTERED" | translate}}</span> <a ng-href="#/authSignIn" class="underlined">{{"SIGN_IN" | translate}}</a>
      </p>

    </div>


  </ion-content>
</ion-view>
