.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle; }

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px; }

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px; }

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
  min-height: 48px; }

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px; }

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
  padding: 0; }

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141; }

.bottomSheetdemoBasicUsage md-toast > * {
  font-weight: bolder; }

.cart-item{
  height:100px;
}
.cart-item > .list > ion-item {
   padding-top: 0;
   padding-bottom: 0;
  height:95px;
  margin:15px 10px;
}
.cart-item  > .list > ion-item > a{
  height:100%;
  padding-left:105px;
  padding-top:10px;
}
.item-options{
  border-style: none;
}
ion-option-button{
  border-style: none !important;
  width:100px;
  background-color: #38464f !important;
}
.cart-item > .item-avatar{
  padding-left: 100px;
  padding-top: 30px;
}
.cart-item > .item-avatar > img {
  max-height: 60px;
  max-width: 60px;
}

.circle {
  display: block;
  width: 60px !important;
  height: 60px !important;
  max-width: 60px !important;
  max-height: 60px !important;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  /*border-radius: 99em;*/
  border: 0px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 50%;
}
/*swipe left*/
.bottom-button{
  margin:20px 10px 0 10px ;
}
.chip {
  display: inline-block;
  padding: 2px 9px;
  border: none;
  font-size: 10px;
  color: black;
  background-color: #e2e4e3;
  width: 60px;
  height: 25px;
  border-radius: 4px;
  /*-webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);*/
  /*-moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);*/
  /*box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);*/
}
.price{
  position: absolute;
  top: 25px;
  right: 10px;
  color: #a8a7af;
}
.history-price{
  position: absolute;
  top: 15px;
  right: 10px;
  color: #a8a7af;
}
.item-close-btn{
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 13px;
  color: #a8a7af;
}
.success{
  background-color: #70c253;
  width: auto;
  color: white;
  height: 35px;
  padding: 8px 20px;
  font-size: 12px;
}
.bill-price{
  font-size: 20px;
  font-weight: 600;
  color:#f4866b;
}
.history-item.item-avatar .item-content {
  padding-left: 90px;
}
.item-avatar .item-content {
  min-height: 90px !important;
}

#myform {
  text-align: center;
  padding: 5px;
  border: 1px dotted #ccc;
  margin: 2%;
}
.qty {
  width: 40px;
  height: 25px !important;
  text-align: center;
}
input.qtyplus { width:30px; height:30px;}
input.qtyminus { width:30px; height:30px;}

.qty-spinner{
  width: fit-content;
  position: absolute;
  right: 5px;
  bottom: 12px;
}

.checkout-label{
  border-color: #ffffff;
  background-color: #ffffff;
}
.checkout-double-col{
  border-color: #fff !important;
}
.separate-border{
  border-color: #d2d0d0;
}
.divider-topic{
  font-size: large;
  font-weight: 100;
}
.cart-item-total{
  float: right;
}
