.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px;
}

.bottomSheetdemoBasicUsage md-list-item,
.bottomSheetdemoBasicUsage md-list-item .md-list-item-inner {
  min-height: 48px;
}

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-subheader .md-subheader-inner {
  padding: 0;
}

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #b14141;
}

.bottomSheetdemoBasicUsage md-toast > * {
  font-weight: bolder;
}

.cart-item {
  height: 100px;
}
.cart-item > .list > ion-item {
  padding-top: 0;
  padding-bottom: 0;
  margin: 15px 10px;
}
.cart-item > .list > ion-item > a {
  height: 100%;
  padding-left: 105px;
  padding-top: 10px;
}
.item-options {
  border-style: none;
}
ion-option-button {
  border-style: none !important;
  width: 100px;
  background-color: #38464f !important;
}
.cart-item > .item-avatar {
  padding-left: 100px;
  padding-top: 30px;
}
.cart-item > .item-avatar > img {
  max-height: 60px;
  max-width: 60px;
}

.circle {
  display: block;
  width: 60px !important;
  height: 60px !important;
  max-width: 60px !important;
  max-height: 60px !important;
  /*margin: 1em auto;*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  /*border-radius: 99em;*/
  border: 0px solid #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 50%;
}
/*swipe left*/
.bottom-button {
  margin: 20px 10px 0 10px;
  width: 100%;
}
.chip {
  display: inline-block;
  padding: 2px 9px;
  border: none;
  font-size: 10px;
  color: black;
  background-color: #e2e4e3;
  width: 60px;
  height: 25px;
  border-radius: 4px;
  /*-webkit-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);*/
  /*-moz-box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);*/
  /*box-shadow: 2px 3px 3px 0px rgba(41, 41, 41, .3);*/
}
.price {
  position: absolute;
  top: 25px;
  right: 10px;
  color: #a8a7af;
}
.history-price {
  position: absolute;
  bottom: 15px;
  right: 10px;
  color: #458ccc;
}
.item-close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 40px;
  font-weight: 100;
  color: #000000;
}
.success {
  background-color: #70c253;
  width: auto;
  color: white;
  height: 35px;
  padding: 8px 20px;
  font-size: 12px;
}
.bill-price {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: black;
}
.history-item.item-avatar .item-content {
  padding-left: 130px;
}
.item-avatar .item-content {
  min-height: 90px !important;
}

#myform {
  text-align: center;
  padding: 5px;
  border: 1px dotted #ccc;
  margin: 2%;
}
.qty {
  width: 10px;
  height: 25px !important;
  text-align: center;
  font-size: 10px !important;
}
input.qtyplus {
  width: 30px;
  height: 30px;
}
input.qtyminus {
  width: 30px;
  height: 30px;
}

.qty-spinner {
  width: fit-content;
  right: 5px;
  bottom: 12px;
}

.checkout-label {
  border-color: #ffffff;
  background-color: #ffffff;
}
.checkout-double-col {
  border-color: #fff !important;
}
.separate-border {
  border-color: #d2d0d0;
}
.divider-topic {
  font-size: large;
  font-weight: 100;
}
.cart-item-total {
  float: right;
}
.detail {
  padding: 3px 15px;
  border: white;
}

/*Slider start from here*/

.spinner-load {
  width: 80px;
  height: 80px;

  border: 2px solid #f3f3f3;
  border-top: 3px solid #458ccc;
  border-radius: 100%;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}

.center-title {
  margin: auto;
}

ion-content {
  background: rgba(255, 255, 255, 1);
}

.card {
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
}

.item-avatar > img:first-child,
.item-avatar .item-image,
.item-avatar .item-content > img:first-child,
.item-avatar .item-content .item-image,
.item-avatar-left > img:first-child,
.item-avatar-left .item-image,
.item-avatar-left .item-content > img:first-child,
.item-avatar-left .item-content .item-image {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 100px;
  max-height: 100px;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 0;
  border: none;
  background: none;
}

.row {
  padding: 0px;
}

.item p {
  color: #000;
  font-size: 12px;
  margin-bottom: 0px;
  line-height: 2;
}

.item p small {
  font-size: 100%;
}

.item-complex .item-content,
.item-radio .item-content {
  position: relative;
  z-index: 2;
  padding: 16px 49px 7px 16px;
  border: none;
  background-color: #fff;
}

.item-radio .item-content {
  margin-left: 47px;
  padding-bottom: 15px;
  -moz-box-shadow: 0 0 0 1px #000000;
  -webkit-box-shadow: 0 0 0 1px #000000;
  box-shadow: 0 0 0 1px #000000;
}

.has-subheader {
  top: 44px;
}

.item {
  border-bottom-color: #fff;
  border-top-color: #fff;
}

.item-avatar,
.item-avatar .item-content,
.item-avatar-left,
.item-avatar-left .item-content {
  padding-left: 130px;
  min-height: 72px;
  padding-top: 16px !important;
  padding-bottom: 7px !important;
  border-bottom-color: black;
}

.visit-store-btn {
  width: 100%;
  margin: 15px 0;
  color: black !important;
  border-color: black !important;
  border-width: 1px;
  padding: 5px 0 !important;
}

.item-divider {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 30px;
  background-color: #ffffff;
  color: #222;
  font-weight: 500;
}

.item-floating-label span {
  /* display:none; */
  font-size: 12px;
}

ion-content hr {
  margin-left: 15px;
  margin-right: 15px;
}

.item-input > input {
  padding-left: 0px !important;
}

.form-field,
input[type="text"],
input[type="tel"] {
  font-size: 12px;
  color: black;
}

.item-radio .radio-icon {
  left: 0;
  float: left;
}

form .item-radio {
  background-color: #ddd;
  -moz-box-shadow: inset 0 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 0 1px #000000;
  box-shadow: inset 0 0 0 1px #000000;
}

.top {
  background-color: #0790cf !important;
}
