<ion-view title="" ng-controller="CategoriesAllCtrl">
  <ion-content>
    <div class="row top">
      <div class="col col-10" ng-click="goback()">
        <i
          class="ion-android-arrow-back font-L white"
          style="font: size 36px;"
        ></i>
      </div>
      <div class="col col-80" style="text-align: center">
        <h4 style="color: white;font-weight: bold; font-size: 16px">
          Categories
        </h4>
      </div>
    </div>
    <div style="margin-Top:10px "></div>
    <div class="row ">
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[3])"
      >
        <img ng-src="app/modules/dashboard/img/2.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[3].name }}</h4>
        </div>
      </button>
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[4])"
      >
        <img ng-src="app/modules/dashboard/img/3.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[4].name }}</h4>
        </div>
      </button>
    </div>
    <div class="row ">
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[0])"
      >
        <img ng-src="app/modules/dashboard/img/4.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[0].name }}</h4>
        </div>
      </button>
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[1])"
      >
        <img ng-src="app/modules/dashboard/img/5.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[1].name }}</h4>
        </div>
      </button>
    </div>
    <div class="row ">
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[6])"
      >
        <img ng-src="app/modules/dashboard/img/6.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[6].name }}</h4>
        </div>
      </button>
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[9])"
      >
        <img ng-src="app/modules/dashboard/img/12.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[9].name }}</h4>
        </div>
      </button>
    </div>
    <div class="row ">
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[2])"
      >
        <img ng-src="app/modules/dashboard/img/13.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[2].name }}</h4>
        </div>
      </button>
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[5])"
      >
        <img ng-src="app/modules/dashboard/img/14.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[5].name }}</h4>
        </div>
      </button>
    </div>
    <div class="row ">
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[7])"
      >
        <img ng-src="app/modules/dashboard/img/15.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[7].name }}</h4>
        </div>
      </button>
      <button
        class="column"
        style="padding: 5px"
        ng-click="goTo(allCategories[8])"
      >
        <img ng-src="app/modules/dashboard/img/16.png" width="100%" />
        <div class="overlay">
          <h4 class="text">{{ allCategories[8].name }}</h4>
        </div>
      </button>
    </div>
  </ion-content>
</ion-view>
