<ion-header-bar class="bar bar-header header-md bar-darker">
    <div style="width: 100%; display: inherit; margin-top: 0px !important;">
      <div class="search-box-wrapper">
        <div class="absolute toggle-side-wrapper">
          <a class="button button-icon row" ng-click="goHome()">
            <i class="ion-android-arrow-back font-L white"></i>
          </a>
        </div>
        <h4 class="white left-title">{{'MY_PRODUCTS' | translate}}</h4>
      </div>
    </div>
  </ion-header-bar>

  <ion-content class="has-header item-list-content" overflow-scroll="true">
    <div class="row" ng-repeat="productRow in items">
      <div class="col" ng-repeat="product in productRow" style="max-width:50%;">
        <div item-seller-cell product="product" ng-click="openItemDetails(product.product_id)"></div>
      </div>
      <div class="col zero-padding" ng-if="productRow.length==1">
      </div>
    </div>
    <div class="row" style="min-height: 25px;"></div>
  </ion-content>