<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="search-box-wrapper">
      <div class="absolute toggle-side-wrapper">
        <a class="button button-icon row" ng-click="goHome()">
          <i class="ion-android-arrow-back font-L white"></i>
        </a>
      </div>
      <h4 class="white left-title">{{'ADD_ITEM' | translate}}</h4>
    </div>
  </div>
</ion-header-bar>

<ion-view>
  <ion-content style="padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;">
    <label class="item item-input text-xmd add-item-textbox">
      <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
      <input type="text" placeholder="{{'WHAT_IS_YOUR_PRODUCT_NAME' | translate}}" ng-model="item.name">
    </label>
    <label class="item item-input text-xmd add-item-textbox" style="height:100px;">
      <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
      <textarea type="text" rows="4" placeholder="{{'TELL_US_ABOUT_YOUR_ITEM' | translate}}" ng-model="item.description"></textarea>
    </label>
    <div layout="row" layout-align="space-between center">
      <md-select ng-model="category.catLevel1" placeholder="{{'PLEASE_SELECT_TYPE_OF_ITEM' | translate}}" class="md-no-underline category-select">
        <md-option ng-repeat="cat_level_1 in cat_tabs track by $index" value="{{$index}}">{{cat_level_1.name}}</md-option>
      </md-select>
    </div>
    <div layout="row" layout-align="space-between center" ng-if="category.catLevel1">
      <md-select ng-model="category.catLevel2" placeholder="{{'PLEASE_SELECT_MAIN_CATEGORY' | translate}}" class="md-no-underline category-select">
        <md-option ng-repeat="cat_level_2 in cat_tabs[category.catLevel1].categories track by $index" value="{{$index}}">{{cat_level_2.name}}</md-option>
      </md-select>
    </div>
    <div layout="row" layout-align="space-between center" ng-if="category.catLevel2">
      <md-select ng-model="category.catLevel3" ng-change="setItemCategory()" placeholder="Please select a sub category" class="md-no-underline category-select">
        <md-option ng-repeat="cat_level_3 in cat_tabs[category.catLevel1].categories[category.catLevel2].categories track by $index" value="{{$index}}">{{cat_level_3.name}}</md-option>
      </md-select>
    </div>
    <div class="square category-chip" ng-click="signUp()" ng-repeat="category in item.category">
      {{category.name}}
    </div>
    <label class="item item-input text-xmd add-item-textbox">
      <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
      <input type="text" placeholder="{{'WHAT_IS_THE_MODEL_OF_YOUR_PRODUCT' | translate}}" ng-model="item.model">
    </label>
    <div class="row zero-padding">
      <div class="col zero-padding" style="max-width:153px;margin-right: 5px;">
        <div layout="row" layout-align="space-between center">
          <md-select ng-model="item.currency_code" placeholder="{{'CURRENCY' | translate}}" class="md-no-underline category-select">
            <md-option ng-repeat="currency in currencies track by $index" value="{{currency.code}}">{{currency.title}}</md-option>
          </md-select>
        </div>
      </div>
      <div class="col zero-padding">
        <label class="item item-input text-xmd add-item-textbox" style=" height: 51px;">
          <input type="number" placeholder="{{'WHAT_IS_THE_PRICE_OF_YOUR_PRODUCT' | translate}}" ng-model="item.price">
        </label>
      </div>
    </div>
    <div class="row zero-padding">
      <div class="col zero-padding">
        <label class="item item-input text-xmd add-item-textbox" style=" height: 51px;">
          <input type="number" placeholder="{{'WHAT_IS_THE_HEIGHT_OF_YOUR_PRODUCT' | translate}}" ng-model="item.height">
        </label>
      </div>
      <div class="col zero-padding" style="max-width:153px;margin-left: 5px;">
        <div layout="row" layout-align="space-between center">
          <md-select ng-model="item.dimensionMeasureUnit" placeholder="{{'MEASURE_UNIT' | translate}}" class="md-no-underline category-select">
            <md-option ng-repeat="measure in dimensionMeasures track by $index" value="{{measure}}">{{measure}}</md-option>
          </md-select>
        </div>
      </div>
    </div>
    <div class="row zero-padding">
        <div class="col zero-padding">
          <label class="item item-input text-xmd add-item-textbox" style=" height: 51px;">
            <input type="number" placeholder="{{'LENGTH' | translate}}" ng-model="item.length">
          </label>
        </div>
        <div class="col zero-padding">
          <label class="item item-input text-xmd add-item-textbox" style=" height: 51px;  margin-left:10px">
              <input type="number" placeholder="{{'WIDTH' | translate}}" ng-model="item.width">
          </label>
        </div>
      </div>
    <div class="row zero-padding">
      <div class="col zero-padding">
        <label class="item item-input text-xmd add-item-textbox" style=" height: 51px;">
          <input type="number" placeholder="{{'WHAT_IS_THE_WEIGHT_OF_YOUR_PRODUCT' | translate}}" ng-model="item.weight">
        </label>
      </div>
      <div class="col zero-padding" style="max-width:153px;margin-left: 5px;">
        <div layout="row" layout-align="space-between center">
          <md-select ng-model="item.weightMeasureUnit" placeholder="{{'MEASURE_UNIT' | translate}}" class="md-no-underline category-select">
            <md-option ng-repeat="measure in weightMeasures track by $index" value="{{measure}}">{{measure}}</md-option>
          </md-select>
        </div>
      </div>
    </div>

    <label class="item item-input text-xmd add-item-textbox">
      <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
      <input type="number" placeholder="{{'QUANTITY_AVAILABLE' | translate}}" ng-model="item.quantity">
    </label>
    <!--<img ng-repeat="image in item.images track by $index" ng-src="{{image}}" style="width: 70px;height: 70px;margin: 5px;">-->
    <div>
      <a class="button custom-height-button button-sm square button-block button-orange capital" ng-click="addItem();">
        {{"SAVE_ITEM" | translate}}
      </a>
    </div>
  </ion-content>

  <div side-nav></div>
</ion-view>