<ion-view title="" ng-controller="SellerCtrl">
  <ion-content class="signupbg">
    <div class="row">
      <div class="col col-10" ng-click="goback()">
        <i
          class="ion-android-arrow-back font-L white"
          style="font: size 36px;"
        ></i>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <img
          src="app/modules/signin/img/sidelogo.png"
          style="width:70%; height:auto;"
        />
      </div>
    </div>

    <div class="text-center position-account-quote">
      <h4 style="color: white;font-weight: bold; font-size: 24px">
        Please select the role for your account
      </h4>
    </div>

    <div class=" position-buttons ">
      <button
        class="button button-block button-light button-outline"
        ng-click="login()"
      >
        I'm a seller
      </button>

      <button
        class="button button-block button-light button-outline"
        ng-click="login()"
      >
        I'm a buyer
      </button>

      <div class="row" ng-click="openSignIn()">
        <div class="col text-center">
          <span style="color:white;">Already Registered ? <u>Sign in</u></span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
