<ion-header-bar class="bar bar-header header-md bar-darker">
    <div style="width: 100%; display: inherit; margin-top: 0px !important;">
      <div class="search-box-wrapper">
        <h4 class="white left-title">Add Item</h4>
      </div>
    </div>
  </ion-header-bar>

  <ion-content style="padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;">
    
        <label class="grey-text">Main Image</label>
        <div class="full-width" ng-show="item.mainImage">
          <img ng-src="{{pathForImage(item.mainImage)}}" style="height: 100px;margin:5px;">
        </div>
        <div ng-show="!item.mainImage">
          <a class="button square main-image-btn" ng-click="getPicture('Main')">
            <i class="ion-plus-round" style="font-size: 30px;"></i>
          </a><br><br>
        </div>
     
     
        <label class="grey-text full-width">Sub Images</label><br>
        <img ng-repeat="image in item.images" ng-src="{{pathForImage(image)}}" style="width: 100px; height: 100px;margin:5px;">
        <a class="button square sub-image-btn" ng-click="getPicture('Product')" ng-show="item.images.length<7">
          <i class="ion-plus-round" style="font-size: 30px;"></i>
        </a>
      
  
      <div>
        <a class="button custom-height-button button-sm square button-block button-orange capital" ng-href="#/categories">
          {{"SAVE_ITEM" | translate}}
        </a>
      </div>
  </ion-content>