.signupbg {
  background-image: url("../img/signupbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.myheaderlogo {
  background-image: url("../img/sidelogo.png");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 50%;
  height: 150px;
  text-align: center;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 0px;
}

.divider {
  border-bottom: 1px solid grey !important;
  width: 80%;
}
.top {
  background-color: #0790cf !important;
}
.login-button {
  background-color: #0790cf !important;
  margin-bottom: 20px;
}

.list {
  background-color: transparent;
}

.position-quote {
  margin-top: 50%;
}
.position {
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
}

.item .item-content {
  background-color: transparent !important;
}

.myitem {
  background-color: transparent;
  color: silver;
  border: none;
}

.item[no-lines].bottom-border {
  border-bottom: 1px solid silver;
  margin-left: 6%;
  margin-right: 6%;
}

.round {
  width: 100%;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.corner {
  position: absolute;
  top: 3px;
  left: 5px;
  height: 20px;
  width: 20px;
  z-index: 10;
  border-radius: 10px;
  border: none;
  background: #000;
  /* Set the bg image here. with "no-repeat" */
}

.search {
  position: relative;
  width: 100%;
  height: 33px;
  margin-left: 10%;
  padding: 5px;
  border-radius: 10px;
  border: 3px black thick;
}

.icon {
  font-size: 28px;
}

.myintro1 {
  background-image: url("../img/intro1.png");
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}

.myintro2 {
  background-image: url("../img/intro2.png");
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}

.myintro3 {
  background-image: url("../img/intro3.png");
  background-size: contain;
  height: 100%;
  background-repeat: no-repeat;
}

.slidebox-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 50%;
}

.gr div {
  padding: 5px;

  width: 100%;

  border: 1px solid #ddd;

  border-radius: 2px;

  background: white;

  text-align: center;
}

#m1 {
  background: url("../img/her.png");
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
}

#m2 {
  background: url("../img/her.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100% !important;
  height: auto !important;
}

.col img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto;
}

.wide-item {
  width: 10000px;
  /*  overflow-x: scroll; /*
/*  -webkit-overflow-scrolling: touch;  */
}

.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}

.scroll {
  min-width: 100%;
}

.item {
  background-color: transparent !important;
}

.item-trns {
  border-bottom: 1px lightgreen thick;
}

.input-label {
  color: white;
}

.list .item {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px lightgreen thick;
}

.bordernone {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}

.icon {
  color: white;
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}

.input-cover {
  pointer-events: auto;
}

.item-input > input {
  color: white;
}

.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  color: white;
}

.item {
  margin: 10px auto;
}

.card,
.list-inset {
  margin: 10px 24px;
}

.item-icon-left .icon,
.item-icon-right .icon {
  font-size: 24px;
}
