<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-click="goToItems();">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
  </div>
</ion-header-bar>


<ion-view cache-view="false">

  <ion-content class="has-header-md" overflow-scroll="true" style="background: white;">
    <!-- //Recent reviews -->
    <div class="g-card-1">
      <div class="row">
        <div class="content">

          <!-- <div class="title capital full-width">recent reviews</div> -->
          <div class="zero-padding" style="margin-top:20px" ng-repeat="review in reviews.reviews track by $index">

            <ion-grid>
              <ion-row>
                <ion-col>
                  <ionic-ratings style="text-align:left" ratingsobj='review.rating' index='$index'></ionic-ratings>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  {{review.author}}
                </ion-col>
                <ion-col>
                  <span style="float:right">{{review.date_added}}</span>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col>
                  <p style="margin-top:15px">
                    {{review.text}}
                  </p>
                </ion-col>

              </ion-row>

              <div class="col-border"></div>
            </ion-grid>

          </div>

        </div>
      </div>
  </ion-content>

</ion-view>