<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-click="goHome()">
      <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'ALL_CATEGORIES' | translate}}</h4>
    <div class="absolute" style="right:70px;">
    <md-select ng-model="selectedMainCat" class="md-no-underline white" ng-change="selectedMainCatChange(selectedMainCat);" style="margin-top: 8px;">
      <md-option ng-repeat="cat in mainCategoryDropDown" value="{{cat.value}}">{{cat.name}}</md-option>
    </md-select>
    </div>
    <div class="absolute cart-icon-wrapper">

      <a class="button button-icon row" href="/#/cart">
        <i class="ion-android-cart font-L white" ></i>
      </a>
    </div>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header"  scroll="false">
    <ion-slide-box slide-tabs-scrollable="true" show-pager="false" on-slide-changed="changeSlide(index)" bounce="false" ion-slide-tabs>
      <ion-slide ng-repeat="tab in selectedCatTabs.tabs  track by $index" ion-slide-tab-label="{{tab.name}}" style="background-color:white; width:100%;">
      <!--<ion-slide ng-repeat="(key,catg) in selectedCatTabs.tabs  track by $index" ion-slide-tab-label="{{catg.name}}" style="background-color:white; width:100%;">-->
        <ion-content>
          <!--<ion-list>-->
            <!--<ion-list ng-if="ready[key]">-->
              <!--<ion-item class="item-avatar item-icon-right" ng-repeat="element in catg.items" type="item-text-wrap">-->
                <!--<img ng-src="{{element.img}}">-->
                  <!--<h2 style="color: #ef473a;">{{element.name}}</h2>-->
                   <!--<p>{{element.status}}</p>-->
                   <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
              <!--</ion-item>-->
            <!--</ion-list>-->
          <!--</ion-list>-->
          <div class="row" style="padding: 1px 5px 4px;" ng-repeat="subCat_rows in tab.sub_cats">
            <div class="list card card-margin" ng-click="goToItems(subCat_rows[0])" ng-if="subCat_rows.length == 1">
              <div class="item item-image">
                <img src="app/modules/shop/img/cat-3.jpg">
                <div class="text-on-image card-title-shadow">
                  <h4 ng-bind-html="subCat_rows[0].name"></h4>
                </div>
              </div>
            </div>
            <div class="col zero-padding" ng-repeat="col in subCat_rows"  ng-if="subCat_rows.length > 1">
              <div class="list card card-margin full-height" ng-click="goToItems(col)">
                <div class="item item-image full-height" >
                  <img src="app/modules/shop/img/cat-6.jpg" class="full-height">
                  <div class="text-on-image card-title-shadow" >
                    <h4 ng-bind-html="col.name"></h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="min-height: 55px;"></div>

          <!--<ion-list>-->
          <!--<ion-list ng-if="ready[key]">-->
            <!--<ion-item class="item-avatar item-icon-right" ng-repeat="element in catg.items" type="item-text-wrap">-->
              <!--<img ng-src="{{element.img}}">-->
              <!--<h2 style="color: #ef473a;">{{element.name}}</h2>-->
              <!--<p>{{element.status}}</p>-->
              <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
          <!--</ion-list>-->

          <!--<center ng-if="!ready[key]">-->
            <!--<br>-->
            <!--<ion-spinner></ion-spinner>-->
          <!--</center>-->

        </ion-content>
      </ion-slide>
    </ion-slide-box>

    <!--<tab-slide-box tab="0">-->
      <!--<div class="tsb-icons">-->
        <!--<div class="tsb-ic-wrp">-->
          <!--<ion-scroll direction="x" class="tsb-hscroll">-->
            <!--<a href="javascript:;" class="{{tab.icon}}" ng-repeat="tab in cat_tabs.NEW.tabs track by $index" on-finish-render="test()"> <span ng-bind-html="tab"></span></a>-->
          <!--</ion-scroll>-->
        <!--</div>-->
      <!--</div>-->
      <!--<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged()">-->
        <!--<ion-slide ng-repeat="slideContent in cat_tabs.NEW.content">-->

          <!--<div style="width: 90%;">-->
            <!--<ion-content>-->
              <!--<div class="row" style="padding: 1px 5px 4px;" ng-click="openWishList()"  ng-repeat="subCat_rows in slideContent">-->
                <!--{{asdas}}-->
                <!--<div class="list card card-margin" ng-click="goToItems()" ng-if="subCat_rows.length == 1">-->
                 <!--<div class="item item-image">-->
                   <!--<img src="app/modules/shop/img/cat-3.jpg">-->
                   <!--<div class="text-on-image card-title-shadow">-->
                     <!--<h2 ng-bind-html="subCat_rows[0].name"></h2>-->
                       <!--&lt;!&ndash;<h3>Tuesday, 5th of November 2015</h3>&ndash;&gt;-->
                   <!--</div>-->
                 <!--</div>-->
                <!--</div>-->
                <!--<div class="col zero-padding" ng-repeat="col in subCat_rows"  ng-if="subCat_rows.length > 1">-->
                  <!--<div class="list card card-margin full-height" ng-click="goToItems()">-->
                    <!--<div class="item item-image full-height" >-->
                      <!--<img src="app/modules/shop/img/cat-6.jpg" class="full-height">-->
                      <!--<div class="text-on-image card-title-shadow" >-->
                        <!--<h2 ng-bind-html="col.name"></h2>-->
                        <!--&lt;!&ndash;<h3>Tuesday, 5th of November 2015</h3>&ndash;&gt;-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!---->
            <!--</ion-content>-->
          <!--</div>-->
        <!--</ion-slide>-->
      <!--</ion-slide-box>-->
    <!--</tab-slide-box>-->
  </ion-content>
</ion-view>
