<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="absolute toggle-side-wrapper">
      <a class="button button-icon row" ng-click="toggleSideBarHome()">
        <i class="ion-navicon-round font-L white"></i>
      </a>
    </div>
    <div class="search-box-wrapper">
      <label class="item item-input search-box" ng-click="goToSearch()">
        <input type="text" placeholder="{{'I_AM_SHOPPING_FOR' | translate}}" disabled="true" ng-model="search">
      </label>
    </div>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-click="viewCart()">
        <i class="ion-android-cart font-L white" ></i>
        <i class="cart-item-count" ng-show="cartItemCount>0">{{cartItemCount}}</i>
      </a>
    </div>
  </div>
</ion-header-bar>

<ion-view cache-view="false" ng-if="SyncIsCompleted == true;">
  <ion-content class="has-header-md" scroll="false">
    <ion-slide-box ng-init="disableSwipe()" slide-tabs-scrollable="true" delegate-handle="categories" show-pager="false" on-slide-changed="changeSlide(index)" bounce="false" ion-slide-tabs>
      <ion-slide ng-repeat="tab in selectedCatTabs.tabs  track by $index" id="ion-sl" ion-slide-tab-label="{{tab.name}}" style="background-color:white; width:100%;">

        <div ng-if="tab.id == 1">
          <ion-content>
            <div class="home-content" style="padding-bottom:50px">

              <div class="main-banner">

                <div class="g-card-2">
                  <div class="row">
                    <div class="content">
                      <div class="sixteen-nine">
                        <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="true" does-continue="true" slide-interval="5000" class="content" style="border-radius:7px">
                          <ion-slide>
                            <div id="shop" ng-click="openCategories()" style="height: 250px;border-radius:7px;">
                              <div class="content align-center border" style="background: white;">
                                <img style="width: 100%;height: 100%;" src="img/main_1.jpg" />
                              </div>
                            </div>
                          </ion-slide>
                          <ion-slide>
                            <div id="shop" style="height: 250px;border-radius:7px;">
                              <div class="content align-center banner-bord" style="background: white;">
                                <img style="width: 100%;height: 100%;" src="img/main2.jpg" />
                              </div>
                            </div>
                          </ion-slide>
                          <ion-slide>
                            <div id="shop" style="height: 250px;border-radius:7px;">
                              <div class="content align-center" style="background: white;">
                                <img style="width: 100%;height: 100%;" src="img/main3.jpg" />
                              </div>
                            </div>
                          </ion-slide>
                        </ion-slide-box>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="seperator-2"></div>

              </div>

              <div class="new-arrivals">
                <div class="g-card-2">
                  <div class="row">
                    <div class="content-title">
                      <div class="title-text">
                        {{'NEW_ARRIVALS' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="content-scroll">
                      <ion-scroll direction="x" class="wide-as-needed" overflow-scroll=false>
                        <div class="row">
                          <div ng-repeat="productRow in newArrivals">
                            <div class="col" ng-repeat="product in productRow" style="width:140px">
                              <div item-cell product="product" ng-click="openItemDetails(product.product_id)"></div>
                            </div>
                            <div class="col zero-padding" ng-if="productRow.length==1">
                            </div>
                          </div>
                        </div>
                      </ion-scroll>
                    </div>
                  </div>
                </div>
              </div>

              <div class="seperator-2"></div>

              <div class="new-arrivals">
                <div class="g-card-2">
                  <div class="row">
                    <div class="content-title">
                      <div class="title-text">
                        {{'FEATURED_BRANDS' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="content-scroll">
                      <div ng-repeat="productRow in brands">
                        <div class="row">
                          <div class="col" ng-repeat="product in productRow" style="width:140px">
                            <div item-brand-cell product="product" ng-click="openBrandDetails(product.manufacturer_id)"></div>
                          </div>
                          <div class="col zero-padding" ng-if="productRow.length==1">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seperator-2"></div>



              <div class="new-arrivals">
                <div class="g-card-2">
                  <div class="row">
                    <div class="content-title">
                      <div class="title-text">
                        {{'FEATURED_STORES' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="content-scroll">
                      <ion-scroll direction="x" class="wide-as-needed">
                        <div class="row">
                          <div ng-repeat="productRow in stores">
                            <div class="col" ng-repeat="product in productRow">
                              <div store-cell product="product" ng-click="openItemDetails(product.product_id)"></div>
                            </div>
                            <div class="col zero-padding" ng-if="productRow.length==1">
                            </div>
                          </div>
                        </div>
                      </ion-scroll>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seperator-2"></div>


              <div class="new-arrivals">
                <div class="g-card-2">
                  <div class="row">
                    <div class="content-title">
                      <div class="title-text">
                        {{'ITEMS_TO_LOVE' | translate}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="content-scroll">
                      <ion-scroll direction="x" class="wide-as-needed">
                        <div class="row">
                          <div ng-repeat="productRow in itemsToLove">
                            <div class="col" ng-repeat="product in productRow" style="width:140px">
                              <div item-cell product="product" ng-click="openItemDetails(product.product_id)"></div>
                            </div>
                            <div class="col zero-padding" ng-if="productRow.length==1">
                            </div>
                          </div>
                        </div>
                      </ion-scroll>
                    </div>
                  </div>
                </div>
              </div>
              <div class="seperator-2"></div>
          </ion-content>

          </div>
        </div>

        <div ng-if="tab.id == 2">
          <ion-content style="margin-bottom: 50px;">
            <div class="new-arrivals">
              <div class="g-card-2">
                <div class="row">
                  <div class="content-title">
                    <div class="title-text">
                        {{'HERE_ARE_THE_BEST_SELLING_WHOLESALE_ITEMS' | translate}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="content-scroll">
                    <ion-scroll direction="x" class="wide-as-needed">
                      <div class="row">
                        <div ng-repeat="productRow in itemsToLove">
                          <div class="col" ng-repeat="product in productRow" style="width:140px">
                            <div item-cell product="product" ng-click="openItemDetails(product.product_id)"></div>
                          </div>
                          <div class="col zero-padding" ng-if="productRow.length==1">
                          </div>
                        </div>
                      </div>
                    </ion-scroll>
                  </div>
                </div>
              </div>
            </div>

            <div class="seperator-2"></div>

            <div class="new-arrivals">
              <div class="g-card-2">
                <div class="row">
                  <div class="content-title">
                    <div class="title-text" style="text-align:center; padding-bottom:10px">
                        {{'PURCHASE_IN_BULK' | translate}}
                    </div>
                  </div>
                </div>
                <div class="row">
                  <label class="item item-input wholesale-item-textbox">
                    <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
                    <input type="text" placeholder="{{'YOUR_NAME' | translate}}" ng-model="item.name">
                  </label>
                </div>
                <div class="row">
                  <label class="item item-input wholesale-item-textbox">
                    <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
                    <input type="text" placeholder="{{'EMAIL_ADDRESS' | translate}}" ng-model="item.name">
                  </label>
                </div>
                <div class="row">
                  <label class="item item-input wholesale-item-textbox">
                    <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
                    <input type="text" placeholder="{{'ITEM_URL' | translate}}" ng-model="item.name">
                  </label>
                </div>
                <div class="row">
                  <label class="item item-input wholesale-item-textbox">
                    <!--<i class="icon ion-ios-home-outline placeholder-icon"></i>-->
                    <input type="text" placeholder="{{'QUANTITY' | translate}}" ng-model="item.name">
                  </label>
                </div>
              </div>
            </div>

          </ion-content>

        </div>
        </div>

        <div ng-if=" tab.id !=1 && tab.id != 2">
          <ion-content style="padding: 10px 5px 10px 5px">
            <div class="row" style="padding: 1px 5px 4px; " ng-repeat="subCat_rows in tab.sub_cats track by $index ">

              <div class="col zero-padding " ng-class="{ 'list g-card-2 card-margin' : subCat_rows.length==1 && $index==0} " ng-click="goToItems(subCat_rows[0]) " ng-if="subCat_rows.length==1 ">
                <div ng-class="{ 'list g-card-2 card-margin full-height' : $index>0 }">
                  <div class="item item-image full-height">
                    <img ng-src="{{$index==0 ? subCat_rows[0].image : subCat_rows[0].image}}" class="full-height" ng-if="subCat_rows[0].image != ''" style="max-height: 200px;">
                    <img ng-src="{{$index==0 ? 'app/modules/shop/img/slide-show-2.jpg' : 'app/modules/shop/img/cat-6.jpg'}}" class="full-height" ng-if="subCat_rows[0].image == ''" style=" max-height: 200px;">
                    <div class="text-on-image card-title-shadow">
                      <h4 ng-bind-html="subCat_rows[0].name" class="multi-line-text"></h4>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col zero-padding" ng-if="subCat_rows.length == 1 && $index>0"></div>
              <div class="col zero-padding" ng-repeat="col in subCat_rows" ng-if="subCat_rows.length > 1" style="margin-bottom:10px">
                <div class="list g-card-2 card-margin full-height" ng-click="goToItems(col)">
                  <div class="item item-image full-height" ng-if="col.image != ''">
                    <img src="{{col.image}}" class="full-height">
                    <div class="text-on-image card-title-shadow">
                      <h4 ng-bind-html="col.name" class="multi-line-text"></h4>
                    </div>
                  </div>
                  <div class="item item-image full-height" ng-if="col.image == ''">
                    <img src="app/modules/shop/img/cat-6.jpg" class="full-height">
                    <div class="text-on-image card-title-shadow">
                      <h4 ng-bind-html="col.name" class="multi-line-text"></h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="min-height: 55px;"></div>
          </ion-content>
        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
  <div side-nav></div>
  </md-sidenav>
</ion-view>