<ion-header-bar class="bar bar-header header-md bar-darker top " >
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-href="#/categories">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title" ng-bind-html="category.heading_title"></h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-click="viewCart()">
        <i class="ion-android-cart font-L white"></i>
        <i class="cart-item-count" ng-show="cartItemCount>0">{{cartItemCount}}</i>
      </a>
    </div>
  </div>
</ion-header-bar>

  <ion-content class="has-header" overflow-scroll="true">
    <div class="row" ng-repeat="productRow in category.products">
      <div class="col zero-padding" ng-repeat="product in productRow" style="max-width:50%;">
        <div class="list card wish-list-card" ng-click="openItemDetails(product.product_id)">
          <div class="item item-image" >
            <img ng-src="{{product.thumb}}" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h3 class="align-center" ng-bind-html="product.name"></h3>
            <h3 class="align-center" ng-bind-html="product.price"></h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding" ng-if="productRow.length==1">
      </div>
    </div>
    <div class="row" style="min-height: 25px;"></div>

    <!--<div class="row">-->
      <!--<div class="col zero-padding">-->
        <!--<div class="list card wish-list-card" ng-click="openItemDetails()">-->
          <!--<div class="item item-image" >-->
            <!--<img src="app/modules/shop/img/wish-3.png" class="full-width full-height">-->
          <!--</div>-->
          <!--<div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">-->
            <!--<h2 class="align-center">Women Frock</h2>-->
            <!--<h3 class="align-center">$ 100</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col zero-padding">-->
        <!--<div class="list card wish-list-card" ng-click="openItemDetails()">-->
          <!--<div class="item item-image" >-->
            <!--<img src="app/modules/shop/img/wish-4.jpg" class="full-width full-height">-->
          <!--</div>-->
          <!--<div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">-->
            <!--<h2 class="align-center">Party Frock</h2>-->
            <!--<h3 class="align-center">$ 100</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col zero-padding">-->
        <!--<div class="list card wish-list-card" ng-click="openItemDetails()">-->
          <!--<div class="item item-image" >-->
            <!--<img src="app/modules/shop/img/wish-5.jpg" class="full-width full-height">-->
          <!--</div>-->
          <!--<div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">-->
            <!--<h2 class="align-center">Double Bed</h2>-->
            <!--<h3 class="align-center">$ 100</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col zero-padding">-->
        <!--<div class="list card wish-list-card" ng-click="openItemDetails()">-->
          <!--<div class="item item-image" >-->
            <!--<img src="app/modules/shop/img/wish-6.jpg" class="full-width full-height">-->
          <!--</div>-->
          <!--<div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">-->
            <!--<h2 class="align-center">Dining Table</h2>-->
            <!--<h3 class="align-center">$ 100</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row" style="height: 30px;"></div>-->
  </ion-content>
</ion-view>
