<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-android-arrow-back font-L black"></i>
      </a>
    </div>
    <h4 class="white left-title">Men , Dresses</h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-android-cart font-L black" ></i>
      </a>
    </div>
  </div>
</ion-header-bar>

<ion-view>
  <div class="" style="background-color: #2b3036;margin-top:55px;">
    <div class="full-width">
      <div class="row">
        <div class="col">
          <button class="button square button-block button-light zero-margin capital white" style="background-color:#4e636c; " ng-click="signInPage()">
            {{"ADD_TO_WISH_LIST" | translate}}
          </button>
        </div>
        <div class="col">
          <button class="button square button-block button-light zero-margin capital white" style="background-color:#f48347; " ng-click="registerPage()">
            {{"ADD_TO_CART" | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
  <ion-content class="has-header-md-search" overflow-scroll="true">

  </ion-content>
</ion-view>
