<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-click="goToItems();">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title"  ng-bind-html="product.heading_title"></h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-click="viewCart()">
        <i class="ion-android-cart font-L white" ></i>
        <i class="cart-item-count" ng-show="cartItemCount>0">{{cartItemCount}}</i>
      </a>
    </div>
  </div>
</ion-header-bar>

<ion-view cache-view="false">

  <ion-content class="has-header-md" overflow-scroll="true" style="bottom:50px;">
    <div class="row">
        <div class="list card item-card full-width" ng-click="openItemDetails()">
          <div class="item item-image" style="height:auto;">
            <!--<img src="app/modules/shop/img/wish-2.jpg" class="full-width full-height">-->
            <ion-slide-box on-slide-changed="slideChanged(index)" slide-interval="1000" class="item-slide">
              <ion-slide>
                <div id="shop" ng-click="openCategories()" style="height: 300px;">
                  <div class="content">
                    <img style="height: 300px;width: auto;" ng-src="{{product.thumb}}"/>
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div id="shop" style="height: 300px;">
                  <div class="content">
                    <img  style="height: 300px;width: auto;" ng-src="{{product.thumb}}"/>
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div id="shop" style="height: 300px;">
                  <div class="content">
                    <img  style="height: 300px;width: auto;" ng-src="{{product.thumb}}"/>
                  </div>
                </div>
              </ion-slide>
            </ion-slide-box>
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-left" ng-bind-html="product.heading_title"></h2>
            <h3 class="align-left" ng-bind-html="product.price"></h3>
            <div class="row qty-spinner" >
              <input type='button' value='-' class='qtyminus' ng-click="updateQuantity(product,'minus')"/>
              <input type='number' name='quantity'  ng-model="product.quantity" class='qty' />
              <input type='button' value='+' class='qtyplus' ng-click="updateQuantity(product,'plus')"/>
            </div>
            <!--<a class="absolute" style="top:20px; right: 15px;" ng-click="toggleBottomSheet()">Options</a>-->
          </div>
        </div>
    </div>
    <div class="row" ng-repeat="option in product.options track by $index"  style="padding-left: 10px; padding-right: 10px;">
      <div class="col align-center" style="max-width: 100px;">
        <h4 style="margin-top: 20px;">{{option.name}}</h4>
      </div>
      <div class="col">
        <md-select ng-model="product.selectedOption" ng-change="setSelectedOption(option,product.selectedOption)" placeholder="Currency" class="md-no-underline category-select">
          <md-option ng-repeat="option_value in option.product_option_value track by $index" value="{{option_value}}">{{option_value.name}}</md-option>
        </md-select>
      </div>
    </div>
    <ion-list>
      <div ng-repeat="group in groups">
        <ion-item class="item-stable card item-details-collapse"
                  ng-click="toggleGroup(group)"
                  ng-class="{active: isGroupShown(group)}">
          <div style="margin-top: 17px;">
            <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus-round' : 'ion-plus-round'"></i>
            &nbsp;
            <span>{{group.name}}</span>
          </div>
        </ion-item>
        <ion-item class="card item-accordion"
                  ng-show="isGroupShown(group)">
          <div style="white-space: pre-wrap;">{{group.content}}</div>
        </ion-item>
      </div>
    </ion-list>
    <div class="row" style="min-height: 25px;"></div>
  </ion-content>
</ion-view>
<div class="bar bar-footer zero-padding" style="height: 50px;">
  <div class="" style="background-color: #007fa3;width:100%;">
    <div class="full-width" style="margin-top: 5px;">
      <div class="row padding-top-zero">
        <div class="col padding-top-zero">
          <a class="button square button-block button-light zero-margin capital white" style="background-color:#007fa3;" ng-disabled="availability_in_wishlist" ng-click="addItemToWishList()">
          <!--<a class="button square button-block button-light zero-margin capital white" style="background-color:#4e636c;" ng-disabled="availability_in_wishlist" ng-click="addItemToWishList()">-->
            {{"ADD_TO_WISH_LIST" | translate}}
          </a>
        </div>
        <div class="col padding-top-zero">
          <a class="button square button-block button-light zero-margin capital white" style="background-color:#007fa3; " ng-click="addItemToCart();">
          <!--<a class="button square button-block button-light zero-margin capital white" style="background-color:#f48347; " ng-click="addItemToCart();">-->
            {{"ADD_TO_CART" | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
