<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-href="#/categories">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">Women Clothing</h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row" ng-href="#/cart">
        <i class="ion-android-cart font-L white"></i>
      </a>
    </div>
  </div>
</ion-header-bar>

  <ion-content class="has-header" overflow-scroll="true">
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-1.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Casual Suit</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-2.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Formal Suit</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-3.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Women Frock</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-4.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Party Frock</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-5.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Double Bed</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-6.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Dining Table</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height: 30px;"></div>
  </ion-content>
</ion-view>
