<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="search-box-wrapper">
      <div class="absolute toggle-side-wrapper">
        <a class="button button-icon row" ng-click="goHome()">
          <i class="ion-android-arrow-back font-L white"></i>
        </a>
      </div>
    </div>
    <h4 class="white size-margin-auto">{{'MY_PROFILE' | translate}}</h4>
    <!--<div class="absolute cart-icon-wrapper">-->
    <!--<a class="button button-icon row" ng-show="!edit" ng-click="edit=true" >-->
    <!--<i class="ion-edit font-L white"></i>-->
    <!--</a>-->
    <!--</div>-->
    <!--<div class="absolute cart-icon-wrapper">-->
    <!--<a class="button button-icon row" ng-show="edit" ng-click="saveProfile();" >-->
    <!--<i class="ion-compose font-L white"> Save</i>-->
    <!--</a>-->
    <!--</div>-->
  </div>
</ion-header-bar>

<ion-view cache-view="false">
  <ion-content class="has-header-md" overflow-scroll="true" style="top:5px;">
    <img ng-src="app/modules/shop/img/profile.jpg" style="width:100%; height:200px;">
    <ul class="list">
      <li class="item">
        <label class="profile-field-lable">{{'FIRST_NAME' | translate}} :</label>
        <span class="profile-field-value" ng-if="!edit">{{userProfile.firstname!= '' ? userProfile.firstname : 'N/A'}}</span>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{'FIRST_NAME' | translate}}</label>
          <input ng-model="userProfile.firstname">
        </md-input-container>
      </li>
      <li class="item">
        <label class="profile-field-lable">{{'LAST_NAME' | translate}} :</label>
        <span class="profile-field-value" ng-if="!edit">{{userProfileProfile.lastname!= '' ? userProfile.lastname : 'N/A'}}</span>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{'LAST_NAME' | translate}}</label>
          <input ng-model="userProfile.lastname">
        </md-input-container>
      </li>
      <li class="item">
        <label class="profile-field-lable">{{'EMAIL' | translate}} :</label>
        <span class="profile-field-value" ng-if="!edit">{{userProfile.email!= '' ? userProfile.email : 'N/A'}}</span>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{'EMAIL' | translate}}</label>
          <input ng-model="userProfile.email">
        </md-input-container>
      </li>
      <li class="item">
        <label class="profile-field-lable">{{'MOBILE' | translate}} :</label>
        <span class="profile-field-value" ng-if="!edit">{{userProfile.telephone!= '' ? userProfile.telephone : 'N/A'}}</span>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{'MOBILE' | translate}}</label>
          <input ng-model="userProfile.telephone">
        </md-input-container>
      </li>
      <li class="item" ng-if="userProfile.ispartner == 'true'">
        <label class="profile-field-lable">{{'COMPANY_NAME' | translate}} :</label>
        <span class="profile-field-value" ng-if="!edit">{{userProfile.companyname ? userProfile.companyname : 'N/A'}}</span>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{'COMPANY_NAME' | translate}}</label>
          <input ng-model="userProfile.companyname">
        </md-input-container>
      </li>
      <!--<li class="item">-->
      <!--<label class="profile-field-lable">{{'PASSWORD' | translate}} :</label>-->
      <!--<a class="profile-field-value">{{'CHANGE_PASSWORD' | translate}}</a><i class="ion-ios-arrow-right" style="float:right;font-size: 30px;"></i>-->
      <!--</li>-->
    </ul>
  </ion-content>
  <div side-nav></div>
  </md-sidenav>

</ion-view>