<ion-header-bar class="bar bar-header header-md bar-darker top">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="search-box-wrapper">
      <div class="absolute toggle-side-wrapper">
        <a class="button button-icon row" ng-click="goHome()">
          <i class="ion-android-arrow-back font-L white"></i>
        </a>
      </div>
    </div>
    <h4 class="white size-margin-auto">{{ "MY_PROFILE" | translate }}</h4>
    <!-- <div class="absolute cart-icon-wrapper"> -->
    <!--
      <a class="button button-icon row" ng-show="!edit" ng-click="edit=true" >
    -->
    <!-- <i class="ion-edit font-L white"></i> -->
    <!-- </a> -->
    <!-- </div> -->
    <!-- <div class="absolute cart-icon-wrapper"> -->
    <!--
      <a class="button button-icon row" ng-show="edit" ng-click="saveProfile();" >
    -->
    <!-- <i class="ion-compose font-L white"> Save</i> -->
    <!-- </a> -->
    <!-- </div> -->
  </div>
</ion-header-bar>

<ion-view cache-view="false">
  <ion-content class="profilebg" overflow-scroll="true" style="top:5px;">
    <div class="row" style="margin-top:100px !important;">
      <div class="col text-center">
        <img
          src="app/modules/shop/img/img_avatar.png"
          style="width:100px; height:100px; border-radius: 50%;"
        />
      </div>
    </div>

    <ul class="list" style=" width:80%;margin: auto;">
      <li class="item">
        <div style="width:100%">
          <label class="profile-field-lable" style="color:aliceblue"
            >{{ "FIRST_NAME" | translate }} :</label
          >
        </div>
        <div style="width:100%">
          <span
            class="profile-field-value"
            ng-if="!edit"
            style="font-weight: bold;  color:aliceblue"
            >{{ firstname != "" ? firstname : "N/A" }}</span
          >
        </div>

        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{ "FIRST_NAME" | translate }}</label>
          <input ng-model="userProfile.firstname" />
        </md-input-container>
      </li>
      <li class="item">
        <div style="width:100%">
          <label class="profile-field-lable" style="color:aliceblue"
            >{{ "LAST_NAME" | translate }} :</label
          >
        </div>
        <div style="width:100%">
          <span
            class="profile-field-value"
            ng-if="!edit"
            style="font-weight: bold;  color:aliceblue"
            >{{ lastname != "" ? lastname : "N/A" }}</span
          >
        </div>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{ "LAST_NAME" | translate }}</label>
          <input ng-model="userProfile.lastname" />
        </md-input-container>
      </li>
      <li class="item">
        <div style="width:100%">
          <label class="profile-field-lable" style="color:aliceblue"
            >{{ "EMAIL" | translate }} :</label
          >
        </div>
        <div style="width:100%">
          <span
            class="profile-field-value"
            ng-if="!edit"
            style="font-weight: bold;  color:aliceblue"
            >{{ email != "" ? email : "N/A" }}</span
          >
        </div>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{ "EMAIL" | translate }}</label>
          <input ng-model="userProfile.email" />
        </md-input-container>
      </li>
      <li class="item" ng-if="userProfile.ispartner == 'true'">
        <label class="profile-field-lable" style="color:aliceblue"
          >{{ "COMPANY_NAME" | translate }} :</label
        >
        <span class="profile-field-value" ng-if="!edit">{{
          userProfile.companyname ? userProfile.companyname : "N/A"
        }}</span>
        <md-input-container ng-if="edit" class="zero-margin profile-input">
          <label>{{ "COMPANY_NAME" | translate }}</label>
          <input ng-model="userProfile.companyname" />
        </md-input-container>
      </li>
    </ul>
  </ion-content>
</ion-view>
