<ion-header-bar class="bar bar-header header-md bar-darker top">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-click="goBack()">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'ORDER_ID' | translate}} : 431</h4>
  </div>
</ion-header-bar>
<ion-view>

  
  <ion-content class="has-heade-md" overflow-scroll="true">

    <ion-list show-delete="false" can-swipe="true"  class="list card cart-item" style="margin:0;">

    <ion-item class="card item  history-item" ng-repeat="item in order.products">
      <!--<div class="circle" ng-style="{'background-image':'url({{item.thumb}})'}">-->
      <!--</div>-->
      <p class="cart-item-title" ng-bind-html="item.name"></p>
      <p ng-bind-html="item.model"></p>
      <span class="history-price" ng-bind-html="item.price"></span>
      <!--<a class="item-close-btn ion-close-round"></a>-->
      <!--<div class="chip capital">{{"SIZE" | translate}} : 8</div>-->
      <div class="chip align-center">x {{item.quantity}}</div>
      <!--<ion-option-button class="button-assertive icon ion-trash-a"></ion-option-button>-->
    </ion-item>


    <div class="card">
      <div class="row capital" style="font-size: 15px;font-weight:700;padding: 12px 0 0 8px;">
        {{"SHIPPING_ADDRESS" | translate}}
      </div>
      <div class="row">
        <div class="col"  ng-bind-html="order.shipping_address"></div>
      </div>
      <div class="row capital" style="font-size: 15px;font-weight:700;padding: 12px 0 0 8px;">
        {{"BILLING_ADDRESS" | translate}}
      </div>
      <div class="row">
        <div class="col"  ng-bind-html="order.payment_address"></div>
      </div>
    </div>

    <ion-item class="card item" style="height:auto; padding-right: 0;" >
      <div class="row">
        <div class="col capital" style="font-size: 15px;font-weight:700;padding: 12px 0 0 0px;">
          {{"SHIPPING_AND_HANDLING" | translate}}
        </div>
        <div class="col align-right">
          <div class="chip success capital" style="width:auto;color: white;">{{order.shipping_method}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col capital" style="font-size: 15px;font-weight:700;padding: 12px 0 0 0px;">
          {{"PAYMENT_METHOD" | translate}}
        </div>
        <div class="col align-right">
          <div class="chip success capital" style="width:auto;color: white;">{{order.payment_method}}</div>
        </div>
      </div>
      <hr>
      <div class="row" ng-repeat="total in order.totals">
        <div class="col capital" style="font-size: 15px;font-weight:700;padding: 5px 0 15px 0px;">
          {{total.title}}
        </div>
        <div class="col align-right bill-price">
          <span>{{total.text}}</span>
        </div>
      </div>
    </ion-item>
      <div class="row" style="min-height: 15px;"></div>

  </ion-content>
</ion-view>
