<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-navicon-round font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'WISH_LIST' | translate}}</h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-ios-settings-strong font-L white" ></i>
      </a>
    </div>
    <div class="absolute filter-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-android-cart font-L white" ></i>
      </a>
    </div>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="has-header-md-tab" overflow-scroll="true">
  </ion-content>
</ion-view>
