<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-navicon-round font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'WISH_LIST' | translate}}</h4>
    <div class="absolute cart-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-ios-settings-strong font-L white" ></i>
      </a>
    </div>
    <div class="absolute filter-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-android-cart font-L white" ></i>
      </a>
    </div>
  </div>
</ion-header-bar>
<label class="item item-input" style="height:55px;top: 59px;">
  <i class="icon ion-android-search placeholder-icon font-L" ></i>
  <input type="email" placeholder="{{'SEARCH_AN_ITEM' | translate}}" ng-model="user.email">
</label>
<ion-view>

  <ion-content class="has-header-md-search" overflow-scroll="true">
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" >
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-2.jpg" class="full-width full-height">
          </div>
            <div class="fab-zone">
              <button class="fab">New</button>
            </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Frock</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" >
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-1.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Perfume</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" >
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-6.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Party Frock</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" >
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-5.jpg" class="full-width full-height">
          </div>
          <div class="fab-zone">
            <button class="fab">New</button>
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Lipstick</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" >
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-4.jpg" class="full-width full-height">
          </div>
          <div class="fab-zone">
            <button class="fab">New</button>
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Double Bed</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-3.jpg" class="full-width full-height">
          </div>
          <div class="fab-zone">
            <button class="fab">New</button>
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Dining Table</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
