.multi-select{
  width: 100%;
  background: white;
  height: 50px !important;
  color: #8e949a;
  padding: 0px 15px;
  border: white;
}
.main-image-btn{
  width:100%;
  height:100px;
  line-height: 100px;
}
.sub-image-btn{
  width:100px;
  height:100px;
  line-height: 100px;
  margin: 5px;
}

.item-seller-cell{
  width: 100%;
}

.topic{
  font-size: 16px;
  font-weight: 0;
  margin-bottom: 20px;
}

.textbox{
  border: solid;
  border-color: rgba(0,0,0,0.16);
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.textbox-red{
  border: solid;
  border-color: red;
  border-width: 1px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.textbox > input{
  width: 100%;
  padding: 10px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
}

.textbox > textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
}

.textbox > md-select {
  width: 100%;
  margin: 7px 0 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.textbox-no-border{
  width: 100%;
}

.textbox-no-border > input{
  width: 100%;
  padding: 10px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
}

.textbox-red > input{
  width: 100%;
  padding: 10px;
  height: 45px;
  border-radius: 5px;
  font-size: 14px;
}

.textbox-red > md-select {
  width: 100%;
  margin: 7px 0 7px;
  padding-left: 10px;
  padding-right: 10px;
}

.addButton{
  border: solid;
  border-color: #007fa3;
  border-width: 0.5px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.addButton > i{
  color:#007fa3;
  font-size: 30px;
  margin-left: 50%;  
}

.addOptionButton{
  background-color: #007fa3;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-bottom: 10px; 
  color: white;
  line-height: 35px;
}

.deleteButton{
  height: 50px;
  right: 0;
  width: 50px;
  background: red;
  margin-bottom: 10px;
}

md-checkbox.md-checked .md-icon {
  background-color: #007fa3;
}

md-checkbox .md-container{
  order : 2
}

.popup-container.popup-showing {
    visibility: visible;
    background: rgba(0, 0, 0, 0.5);
}