.multi-select{
  width: 100%;
  background: white;
  height: 50px !important;
  color: #8e949a;
  padding: 0px 15px;
  border: white;
}
.main-image-btn{
  width:100%;
  height:100px;
  line-height: 100px;
}
.sub-image-btn{
  width:100px;
  height:100px;
  line-height: 100px;
  margin: 5px;
}
