<div class="item-cell">
  <img ng-src="{{product.thumb}}" class="full-width full-height">
  <div class="tabs-secondary tabs-icon-left white-tabs" style="padding: 0px 10px 1px 10px; margin-top:-5px">
    <h3 class="align-left" ng-if="product.name != undefined" ng-bind-html="product.name"></h3>
    <h3 class="align-left" ng-if="product.name == undefined" ng-bind-html="product.heading_title"></h3>
    <h3 class="align-left" style="color:black; font-weight:700" ng-bind-html="product.price"></h3>
  </div>
</div>