<ion-view view-title="Wholesale" cache-view="false">
  <ion-content class="">
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-5.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Double Bed</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-6.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Dining Table</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-1.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Casual Suit</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-2.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Formal Suit</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-3.png" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Women Frock</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
      <div class="col zero-padding">
        <div class="list card wish-list-card" ng-click="openItemDetails()">
          <div class="item item-image" >
            <img src="app/modules/shop/img/wish-4.jpg" class="full-width full-height">
          </div>
          <div class="item tabs-secondary tabs-icon-left white-tabs" style="padding: 10px;">
            <h2 class="align-center">Party Frock</h2>
            <h3 class="align-center">$ 100</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="height: 30px;"></div>
  </ion-content>
</ion-view>


