.auth-background {
  background: url('../img/auth-home.jpg') no-repeat center;
  background-size: cover;
}
.sign-in-background{
  background-image: url('../img/auth-home.jpg');
  background-size: cover;
  display: block;
  filter: blur(7px);
  -webkit-filter: blur(6px);
  height: 800px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0;
}
.contents {
  /*background: rgba(255, 255, 255, 0.35);*/
  /*border-radius: 3px;*/
  /*box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  top: 10px;
  left: 0;
  position: fixed;
  margin-left: 20px;
  margin-right: 20px;
  right: 0;
  z-index: 2;
  padding: 0 10px;
}
/*.contents > )*/
.sign-up-fields{
  background: rgba(255, 255, 255, 0);
}
.sign-up-fields > .text-xmd {
  margin-top:1px;
  margin-bottom:1px;
}
.add-item-textbox{
  margin:5px 0;
}
