<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'BILLING_DETAILS' | translate}}</h4>
    <div class="absolute cart-icon-wrapper">

    </div>
  </div>
</ion-header-bar>
<ion-view>
  <ion-content class="">
    <!--<md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show as List</md-button>-->

    <div class="list card cart-item">
      <div class="item item-avatar">
        <div class="circle" style="background-image:url('app/modules/checkout/img/cart-item-1.jpg')">
        </div>
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
    </div>
    <div class="list card cart-item">
      <div class="item item-avatar">
        <div class="circle" style="background-image:url('app/modules/checkout/img/cart-item-2.jpg')">
        </div>
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
    </div>
    <div class="list card cart-item">
      <div class="item item-avatar">
        <div class="circle" style="background-image:url('app/modules/checkout/img/cart-item-3.jpg')">
        </div>
        <h2>Marty McFly</h2>
        <p>November 05, 1955</p>
      </div>
    </div>
  </ion-content>
</ion-view>
