<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-href="#/cart">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'CHECKOUT_STEP_ONE' | translate}}</h4>
    <div class="absolute cart-icon-wrapper">

    </div>
  </div>
</ion-header-bar>
<ion-view>
  <form name="personalInfoForm" novalidate>
      <ion-content  class="has-header-md" style="background: #ffffff !important;">
        <!--<ion-list>-->
                <div class="item item-divider divider-topic">Your Personal Details</div>
                <div class="row no-padding item item-input item-floating-label item-double-col checkout-double-col">
                    <label class="item item-input item-floating-label col-50 checkout-label">
                        <span class="input-label">First Name <span class="error-warning"> *</span></span>
                        <input type="text" ng-model="personal_details.firstname" placeholder="First Name *" name="firstname" required>
                        <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                          <span class="error-warning" data-ng-show="personalInfoForm.firstname.$error.required">This field is required.</span>
                        </span>
                    </label>
                    <label class="item item-input item-floating-label col-50 checkout-label">
                        <span class="input-label">Last Name <span class="error-warning"> *</span></span>
                        <input type="text"  ng-model="personal_details.lastname" placeholder="Last Name *" name="lastname" required>
                       <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                          <span class="error-warning" data-ng-show="personalInfoForm.lastname.$error.required">This field is required.</span>
                        </span>
                    </label>
                </div>
                <label class="item item-input item-floating-label checkout-label separate-border">
                    <span class="input-label">Email <span class="error-warning"> *</span></span>
                    <input type="email" ng-model="personal_details.email" placeholder="Email *" name="email" required>
                    <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                      <span class="error-warning" data-ng-show="personalInfoForm.email.$error.required">This field is required.</span>
                      <span class="error-warning" data-ng-show="personalInfoForm.email.$error.email">Enter a valid Email.</span>
                    </span>
                </label>
                <label class="item item-input item-floating-label checkout-label separate-border">
                    <span class="input-label">Telephone <span class="error-warning"> *</span></span>
                    <input type="tel" ng-model="personal_details.telephone" placeholder="Telephone *" name="telephone" required>
                    <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                      <span class="error-warning" data-ng-show="personalInfoForm.telephone.$error.required">This field is required.</span>
                    </span>
                </label>

                <div class="item item-divider">
                    <span class="divider-topic">Your Address</span>
                </div>

                <label class="item item-input item-floating-label checkout-label separate-border">
                    <span class="input-label">Address Line 1 <span class="error-warning"> *</span></span>
                    <input type="text"  ng-model="personal_details.address_1" name="address_1" placeholder="Address Line 1 *" required>
                    <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                      <span class="error-warning" data-ng-show="personalInfoForm.address_1.$error.required">This field is required.</span>
                    </span>
                </label>
                <label class="item item-input item-floating-label checkout-label separate-border">
                    <span class="input-label">Address Line 2 <span class="error-warning"> *</span></span>
                    <input type="text"  ng-model="personal_details.address_2" name="address_2" placeholder="Address Line 2 *">
                    <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                      <span class="error-warning" data-ng-show="personalInfoForm.address_2.$error.required">This field is required.</span>
                    </span>
                </label>

                <div class="row zero-padding no-padding item item-input item-floating-label item-double-col checkout-double-col separate-border">
                    <label class="item item-input item-floating-label col-50 checkout-label">
                        <span class="input-label">City <span class="error-warning"> *</span></span>
                        <input type="text" ng-model="personal_details.city" name="city" placeholder="City *" required>
                        <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                          <span class="error-warning" data-ng-show="personalInfoForm.city.$error.required">This field is required.</span>
                        </span>
                    </label>
                    <label class="item item-input item-floating-label col-50 checkout-label">
                        <span class="input-label">Postal Code <span class="error-warning"> *</span></span>
                        <input type="text" ng-model="personal_details.postcode" maxlength="10" minlength="5" name="postal_code" placeholder="Postal Code *" required>
                        <span class="error-warning" data-ng-show="personalInfoForm.$submitted">
                          <span class="error-warning" data-ng-show="personalInfoForm.postal_code.$error.required">This field is required.</span>
                        </span>
                    </label>
                </div>
                <div class="row no-padding item item-double-col checkout-double-col ">
                    <div class="col-50">
                      <!--<div class="input-label">Country <span class="error-warning"> *</span></div>-->
                      <!--<label class="item item-input item-select col-50 checkout-label">-->
                        <md-select ng-model="personal_details.country_id" ng-change="countryChanged()" name="country_id" placeholder="Country" class="md-no-underline category-select" style="padding-left: 15px;" required>
                          <md-option ng-repeat="country in countries track by $index" value="{{::country.country_id}}">{{::country.name}}</md-option>
                        </md-select>
                        <!--<select ng-model="personalInfoForm.country_id" ng-change="countryChanged()" name="country_id" placeholder="Country" required>-->
                          <!--<option value="{{::country.country_id}}" ng-selected="country.country_id == personalInfoForm.country_id" ng-repeat="country in countries">{{::country.name}}</option>-->
                        <!--</select>-->
                      <!--</label>-->
                    </div>
                    <div class="col-50">
                      <!--<div class="input-label">Region <span class="error-warning"> *</span></div>-->
                      <md-select ng-model="personal_details.zone_id" ng-change="countryChanged()" name="zone_id" placeholder="Region" class="md-no-underline category-select" style="padding-left: 15px;" required>
                        <md-option ng-repeat="zone in zones track by $index" value="{{::zone.zone_id}}">{{::zone.name}}</md-option>
                      </md-select>
                      <!--<label class="item item-input item-select col-50 checkout-label">-->
                        <!--<select ng-model="personalInfoForm.zone_id" name="zone_id"  placeholder="Region"  required ng-init="countryChanged()">-->
                          <!--<option value="{{::zone.zone_id}}" ng-selected="zone.zone_id == personalInfoForm.zone_id" ng-repeat="zone in zones">{{::zone.name}}</option>-->
                        <!--</select>-->
                      <!--</label>-->
                    </div>
                </div>

      <!--</ion-list>-->
    </ion-content>

    <ion-footer-bar align-title="left" ng-class="'bar-positive'">
    <!--<ion-footer-bar align-title="left" ng-class="{'bar-assertive':forms.checkoutForm.$invalid, 'bar-positive':forms.checkoutForm.$valid}">-->
        <h2 class="title">{{cart.total}}</h2>
        <div class="buttons">
            <a class="button" data-ng-click="personalInfoForm.$setSubmitted(); personalInfoForm.$valid && nextStep()">NEXT</a>
            <!--<a class="button" ng-click="personalInfoForm.$submitted = true; personalInfoForm.$valid && nextStep()">NEXT</a>-->
        </div>
    </ion-footer-bar>
  </form>

</ion-view>
</ion-view>
