<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-click="goBack()">
        <!--<a class="button button-icon row" ng-href="#/home/new">-->
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
    <h4 class="white left-title">{{'BILLING_DETAILS' | translate}}</h4>
    <div class="absolute cart-icon-wrapper">

    </div>
  </div>
</ion-header-bar>
<div class="bar bar-subheader" ng-if="isCartLoaded == true">
  <h2 class="title white">{{"YOUR_ORDER" | translate}}</h2>
</div>
<ion-view>
  <ion-content class="has-subheader">
    <!--<md-button flex="50" class="md-primary md-raised" ng-click="showListBottomSheet()">Show as List</md-button>-->
    <ion-list show-delete="false" can-swipe="true" class="list card cart-item" style="margin:0;" ng-if="isCartLoaded == true">
      <ion-item class="card item item-avatar history-item" ng-repeat="item in cart.products">

        <img class="sqare" ng-src="{{item.thumb}}">
        <h2 class="cart-item-title" ng-bind-html="item.name"></h2>
        <p ng-bind-html="item.model"></p>

        <span class="history-price" ng-bind-html="item.total"></span>
        <div class="row qty-spinner">
          <input type='button' value='-' class='qtyminus' ng-click="updateCart(item,'minus')" style="margin-top:-2px" />
          <input type='number' name='quantity' ng-model="item.quantity" class='qty' />
          <input type='button' value='+' class='qtyplus' ng-click="updateCart(item,'plus')" style="margin-top:-3px" />
        </div>

        <div class="chip align-center">x {{item.quantity}}</div>

        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeItemFromCart(item.cart_id);"></ion-option-button>
      </ion-item>

    </ion-list>

    <div ng-if="isCartLoaded == true">
      <ion-item class="card item">
        <hr>
        <div class="row" ng-repeat="total in cart.totals">
          <div class="col capital" style="font-size: 15px;font-weight:700;padding: 5px 0 15px 0px;">
            {{total.title}}
          </div>
          <div class="col align-right bill-price">
            <span>{{total.text}}</span>
          </div>
        </div>
      </ion-item>

      <div class="bottom-button">
        <a class="button custom-height-button button-sm square button-block button-black capital" ng-click="go()">
          {{'CHECKOUT' | translate}}
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>