<ion-header-bar class="bar bar-header header-md bar-darker">
        <div style="width: 100%; display: inherit; margin-top: 0px !important;" >
          <h4 class="white center-title">{{'Error' | translate}}</h4>
          <div class="absolute cart-icon-wrapper">
          </div>
        </div>
      </ion-header-bar>
      <ion-view cache-view="false">
          <ion-content class="has-header-md" style="text-align: center; margin-top:10vh;">
                    <i class="icon ion-ios-close-outline" style="font-size: 200px;"></i>
                    <h2>ERROR!</h1>
                    <h4>Please try again</h4>
                    <div class="row padding-top-zero">
                        
                          <div class="bottom-button" style="margin-top: 0px; padding: 20px;">
                              <a class="button button-outline button-positive visit-store-btn size-margin-auto" ng-href="#/categories">
                                {{"Got it!" | translate}}
                              </a>
                            </div>
                      </div>
          </ion-content>
      </ion-view>
      