<ion-header-bar class="bar bar-header header-md bar-darker">
    <div style="width: 100%; display: inherit; margin-top: 0px !important;">
      <div class="absolute back-icon-wrapper">
        <a class="button button-icon row" ng-href="#/cart">
          <i class="ion-android-arrow-back font-L white"></i>
        </a>
      </div>
      <h4 class="white left-title">{{'CHECKOUT_STEP_ONE' | translate}}</h4>
      <div class="absolute cart-icon-wrapper">
      </div>
    </div>
  </ion-header-bar>
<ion-view view-title="Payment">
  <ion-content>
    <div class="padding vmiddle">
      <center>
        <p>Pay securely with Paypal Express</p>
        <img src="app/payment_modules/pp_express/cards.png" width="220" />
        <button ng-click="pay()" ng-disabled="payment_initiated" class="button button-positive ergized button-block">Pay {{total_amount}}</button>
      </center>
    </div>
  </ion-content>
</ion-view>