<ion-header-bar class="bar bar-header header-md bar-darker">
  <div style="width: 100%; display: inherit; margin-top: 0px !important;">
    <div class="absolute back-icon-wrapper">
      <a class="button button-icon row" ng-click="goBack();">
        <i class="ion-android-arrow-back font-L white"></i>
      </a>
    </div>
  </div>
</ion-header-bar>


<ion-view cache-view="false">

  <!-- <ion-content class="has-header-md" overflow-scroll="true" style="background: white;"> -->
  <!-- //Recent reviews -->
  <div class="g-card-1">
    <div class="row">
      <div class="content">

        <!-- <div class="title capital full-width">recent reviews</div> -->
        <div class="zero-padding" style="margin-top:20px" ng-repeat="address in addresses track by $index">


          <ion-row>
            <ion-col>
              {{address.firstname}} {{address.lastname}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <span style="float:right">{{address.city}}</span>
            </ion-col>
          </ion-row>

          <!-- <ion-row>
                <ion-col>
                  <p style="margin-top:15px">
                    {{address.country}}
                  </p>
                </ion-col>

              </ion-row> -->




        </div>



      </div>
      <!-- </div> -->
      <!-- </ion-content> -->

      <ion-content class="has-header-md" overflow-scroll="true" style="background: white;">
        <div ng-repeat="address in addresses track by $index">
          <ion-checkbox ng-model="address.checked" ng-click="updateSelection($index, addresses)">
            <div class="g-card-1">
              <!-- //Titles -->
              <div class="row">
                <div class="content">
                  <div class="align-left" style="font-weight:bold">{{address.firstname}} {{address.lastname}}</div>
                  <div class="align-left">{{address.address_1}}</div>
                  <div class="align-left">{{address.address_2}}</div>
                  <div class="align-left">{{address.city}}</div>
                  <div class="align-left">{{address.zone}}</div>
                  <div class="align-left">{{address.postcode}}</div>
                  <div class="align-left">{{address.country}}</div>
                </div>
              </div>
            </div>
          </ion-checkbox>
          <div class="seperator-2"></div>
        </div>
      </ion-content>



</ion-view>