/* Empty. Add your own CSS if you like */
ion-content{
  background: #e8e8e8;
}
.padding{
  padding:20px;
}
.zero-padding{
  padding: 0 !important;
}
.zero-margin{
  margin: 0 !important;
}
.size-margin-auto{
  margin-left: auto;
  margin-right: auto;
}
.card-margin{
  margin:2px 2px !important;
}

.absolute{
  position: absolute;
}
.full-width{
  width:100% !important;
}
.full-height{
  height:100%;
}
.align-center{
  text-align: center;
}
/*buttons*/
.button.square{
  border-radius: 0;
}
.custom-height-button{
  min-height: 0 !important;
  padding: 0 !important;
}
.button-sm{
  height: 60px;
  line-height: 25px;
}
.button-orange{
  background-color: #f48420;
  color: #ffffff;
}

.text-md{
  height: 55px;
}
.item-input > input {
  padding-left:10px !important;
}

/*text deco*/
.capital{
  text-transform: uppercase;
}
.underlined{
  text-decoration: underline;
}
.font-L{
  font-size: 25px;
}
.white{
  color: white !important;
}
.black{
  color: black;
}

/*header*/
.header-md{
  height: 55px;
}
.has-header-md{
  top:55px !important;
}
.has-header-md-tab{
  top: 104px !important;
}
.has-header-md-search {
  top: 115px !important;
}
.left-title{
  margin-left: 60px;
}
